<section class="grid" data-align="grid">
  <div class="container">
    <div class="grid__wrapper">
      <h2 class="grid__title visually-hidden">Стратегия, которая работает в медиа</h2>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Пиар как системная работа</h3>
        <p class="grid__text" data-align="text">Мы видим пиар не как разрозненные активности, а&nbsp;как выстроенный процесс. Он формирует узнаваемость, доверие и репутацию, которые остаются с&nbsp;брендом надолго.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Честный пиар без&nbsp;иллюзий</h3>
        <p class="grid__text" data-align="text">Мы не обещаем «топ-СМИ завтра». Вместо этого создаём прозрачные стратегии, где клиент заранее знает, в&nbsp;каких медиа и в&nbsp;каком формате появится.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Персональнный пиар под&nbsp;задачи клиента</h3>
        <p class="grid__text" data-align="text">У&nbsp;эксперта, бренда, компании и блогера&nbsp;— свои цели. Мы адаптируем пиар под&nbsp;сегмент: статус, охват, доверие или легитимность.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Пиар как язык медиа</h3>
        <p class="grid__text" data-align="text">Мы понимаем, что журналистам важны смыслы, а&nbsp;не рекламные тексты. Поэтому переводим истории клиентов на язык медиа, чтобы публикации были востребованы и значимы.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Пиар для долгосрочного роста</h3>
        <p class="grid__text" data-align="text">Пиар не даёт быстрых заявок, но&nbsp;закладывает фундамент для будущих продаж, партнёрств и развития бренда. Мы делаем так, чтобы присутствие в&nbsp;медиа работало на&nbsp;долгую дистанцию.</p>
      </div>
      <form class="grid__form" action="form.php" method="post">
        <fieldset class="grid__form-group">
          <legend class="grid__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="grid__form-list">
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваше имя</span>
                <input class="grid__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваш телефон</span>
                <input class="grid__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="grid__accept">
          <span class="grid__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="grid__form-button-container">
          <div class="grid__form-error-wrapper form-error-message">
            <p class="grid__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="grid__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        </div>
      </form>
    </div>
  </div>
</section>