<section class="about-content">
  <div class="container">
    <div class="about-content__wrapper">
      <h2 class="about-content__title title title--big">Мы не придумываем истории. Мы делаем так, чтобы их&nbsp;услышали</h2>
      <div class="about-content__img">
        <img src="img/test.jpg">
      </div>
      <div class="about-content__text">
        <p>Мы&nbsp;верим, что пиар&nbsp;&mdash; это не&nbsp;про красивые обещания и&nbsp;быстрые эффекты. Это про&nbsp;то, чтобы ваш голос был услышан там, где это действительно важно. Для эксперта это может быть статус, для бренда&nbsp;&mdash; охват, для компании&nbsp;&mdash; доверие, для блогера&nbsp;&mdash; легитимность вне соцсетей.</p>
        <p>Наша команда превращает истории клиентов в&nbsp;публикации, эфиры и&nbsp;коллаборации, которые формируют репутацию и&nbsp;заметность. Мы&nbsp;работаем напрямую с&nbsp;редакциями и&nbsp;знаем, как говорить с&nbsp;медиа их&nbsp;языком. Поэтому каждый проект для нас&nbsp;&mdash; это не&nbsp;поток активностей ради отчёта, а&nbsp;выстроенный процесс, где пиар становится частью стратегии бренда.</p>
      </div>
    </div>
  </div>
</section>