<section class="catalog">
  <div class="container">
    <h2 class="catalog__title title">Здесь собраны примеры того, как грамотное PR&#8288;-&#8288;сопровождение помогает брендам расти и укреплять позиции</h2>
    <ul class="catalog__tag-list">
      <li class="catalog__tag-item">
        <button class="catalog__tag-button button button--tab" type="button">Полное PR-сопровождение</button>
      </li>
      <li class="catalog__tag-item">
        <button class="catalog__tag-button button button--tab active" type="button">Публикации в СМИ и онлайн-изданиях</button>
      </li>
      <li class="catalog__tag-item">
        <button class="catalog__tag-button button button--tab" type="button">Телевизионные и радиовыходы</button>
      </li>
      <li class="catalog__tag-item">
        <button class="catalog__tag-button button button--tab" type="button">Коллаборации и партнёрства</button>
      </li>
      <li class="catalog__tag-item">
        <button class="catalog__tag-button button button--tab" type="button">Создание позиционирования (опционально)</button>
      </li>
    </ul>
    <ul class="catalog__list">
      <li class="catalog__item">
        <a class="catalog__link" href="rozmary.html">
          <div class="catalog__img-container">
            <div class="catalog__img">
              <picture>
                <source width="889" height="500" type="image/webp" srcset="img/projects/1-pr-tablet@1x.webp 1x, img/projects/1-pr-tablet@2x.webp 2x">
                <img src="img/projects/1-pr-tablet@1x.jpg" srcset="img/projects/1-pr-tablet@2x.jpg 2x" width="889" height="500" alt="Логотип РБК">
              </picture>
            </div>
          </div>
          <p class="catalog__name">Roz Mary</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img-container">
            <div class="catalog__img">
              <picture>
                <source width="889" height="500" type="image/webp" srcset="img/projects/2-pr-tablet@1x.webp 1x, img/projects/2-pr-tablet@2x.webp 2x">
                <img src="img/projects/2-pr-tablet@1x.jpg" srcset="img/projects/2-pr-tablet@2x.jpg 2x" width="889" height="500" alt="Логотип РБК">
              </picture>
            </div>
          </div>
          <p class="catalog__name">Название проекта</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img-container">
            <div class="catalog__img">
              <picture>
                <source width="889" height="500" type="image/webp" srcset="img/projects/3-pr-tablet@1x.webp 1x, img/projects/3-pr-tablet@2x.webp 2x">
                <img src="img/projects/3-pr-tablet@1x.jpg" srcset="img/projects/3-pr-tablet@2x.jpg 2x" width="889" height="500" alt="Логотип РБК">
              </picture>
            </div>
          </div>
          <p class="catalog__name">Название проекта</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img-container">
            <div class="catalog__img">
              <picture>
                <source width="889" height="500" type="image/webp" srcset="img/projects/4-pr-tablet@1x.webp 1x, img/projects/4-pr-tablet@2x.webp 2x">
                <img src="img/projects/4-pr-tablet@1x.jpg" srcset="img/projects/4-pr-tablet@2x.jpg 2x" width="889" height="500" alt="Логотип РБК">
              </picture>
            </div>
          </div>
          <p class="catalog__name">Название проекта</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img-container">
            <div class="catalog__img">
              <picture>
                <source width="889" height="500" type="image/webp" srcset="img/projects/5-pr-tablet@1x.webp 1x, img/projects/5-pr-tablet@2x.webp 2x">
                <img src="img/projects/5-pr-tablet@1x.jpg" srcset="img/projects/5-pr-tablet@2x.jpg 2x" width="889" height="500" alt="Логотип РБК">
              </picture>
            </div>
          </div>
          <p class="catalog__name">Название проекта</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img-container">
            <div class="catalog__img">
              <picture>
                <source width="889" height="500" type="image/webp" srcset="img/projects/6-pr-tablet@1x.webp 1x, img/projects/6-pr-tablet@2x.webp 2x">
                <img src="img/projects/6-pr-tablet@1x.jpg" srcset="img/projects/6-pr-tablet@2x.jpg 2x" width="889" height="500" alt="Логотип РБК">
              </picture>
            </div>
          </div>
          <p class="catalog__name">Название проекта</p>
        </a>
      </li>
    </ul>
  </div>
</section>