<section class="objectives">
  <div class="container">
    <div class="objectives__wrapper">
      <h2 class="objectives__title title-with-circle">Цели и задачи</h2>
      <div class="objectives__content">
        <p class="objectives__slogan title title--big">Roz Mary&nbsp;&mdash; бренд натуральной косметики и&nbsp;эфирных масел. CEVICHERIA&nbsp;&mdash; ресторан, отмеченный в&nbsp;гиде Michelin.</p>
        <p class="objectives__text">Цель коллаборации: создать кампанию, которая соединит аудиторию ресторанов и&nbsp;beauty-сегмента, усилит имидж обоих брендов и&nbsp;даст медийное присутствие.</p>
      </div>
    </div>
  </div>
</section>