<section class="brand-media">
  <div class="container">
    <div class="brand-media__wrapper">
      <h2 class="brand-media__title title-with-circle">Публикации и медиа</h2>
      <div class="brand-media__content">
        <p class="brand-media__slogan title title--big">За месяц проект вышел в&nbsp;следующих изданиях</p>
        <ul class="brand-media__list">
          <li class="brand-media__item title">HELLO!,</li>
          <li class="brand-media__item title">Новый Очаг,</li>
          <li class="brand-media__item title">Woman,</li>
          <li class="brand-media__item title">WDAY,</li>
          <li class="brand-media__item title">Peopletalk,</li>
          <li class="brand-media__item title">Chef.ru,</li>
          <li class="brand-media__item title">UMAGAZINE,</li>
          <li class="brand-media__item title">Лиза,</li>
          <li class="brand-media__item title">OK Magazine,</li>
          <li class="brand-media__item title">Robb Report.</li>
        </ul>
      </div>
      <div class="brand-media__marquee marquee">
        <div class="marquee__item marquee__item--opacity">
          <picture>
            <source width="466" height="155" type="image/webp" media="(min-width: 768px)" srcset="img/media/hello-tablet@1x.webp 1x, img/media/hello-tablet@2x.webp 2x">
            <source width="230" height="76" type="image/webp" srcset="img/media/hello-mobile@1x.webp 1x, img/media/hello-mobile@2x.webp 2x">
            <source width="466" height="155" type="image/png" media="(min-width: 768px)" srcset="img/media/hello-tablet@1x.png 1x, img/media/hello-tablet@2x.png 2x">
            <img src="img/media/hello-mobile@1x.png" srcset="img/media/hello-mobile@2x.png 2x" width="230" height="76" alt="Логотип Hello">
          </picture>
        </div>
        <div class="marquee__item marquee__item--opacity">
          <picture>
            <source width="432" height="204" type="image/webp" media="(min-width: 768px)" srcset="img/media/noviy-ochag-tablet@1x.webp 1x, img/media/noviy-ochag-tablet@2x.webp 2x">
            <source width="200" height="95" type="image/webp" srcset="img/media/noviy-ochag-mobile@1x.webp 1x, img/media/noviy-ochag-mobile@2x.webp 2x">
            <source width="432" height="204" type="image/png" media="(min-width: 768px)" srcset="img/media/noviy-ochag-tablet@1x.png 1x, img/media/noviy-ochag-tablet@2x.png 2x">
            <img src="img/media/noviy-ochag-mobile@1x.png" srcset="img/media/noviy-ochag-mobile@2x.png 2x" width="200" height="95" alt="Логотип Новый очаг">
          </picture>
        </div>
        <div class="marquee__item marquee__item--opacity">
          <picture>
            <source width="449" height="72" type="image/webp" media="(min-width: 768px)" srcset="img/media/peopletalk-tablet@1x.webp 1x, img/media/peopletalk-tablet@2x.webp 2x">
            <source width="250" height="40" type="image/webp" srcset="img/media/peopletalk-mobile@1x.webp 1x, img/media/peopletalk-mobile@2x.webp 2x">
            <source width="449" height="72" type="image/png" media="(min-width: 768px)" srcset="img/media/peopletalk-tablet@1x.png 1x, img/media/peopletalk-tablet@2x.png 2x">
            <img src="img/media/peopletalk-mobile@1x.png" srcset="img/media/peopletalk-mobile@2x.png 2x" width="250" height="40" alt="Логотип Peopletalk">
          </picture>
        </div>
        <div class="marquee__item">
          <picture>
            <source width="424" height="119" type="image/webp" media="(min-width: 768px)" srcset="img/media/chef-tablet@1x.webp 1x, img/media/chef-tablet@2x.webp 2x">
            <source width="230" height="64" type="image/webp" srcset="img/media/chef-mobile@1x.webp 1x, img/media/chef-mobile@2x.webp 2x">
            <source width="424" height="119" type="image/png" media="(min-width: 768px)" srcset="img/media/chef-tablet@1x.png 1x, img/media/chef-tablet@2x.png 2x">
            <img src="img/media/chef-mobile@1x.png" srcset="img/media/chef-mobile@2x.png 2x" width="230" height="64" alt="Логотип chef.ru">
          </picture>
        </div>
        <div class="marquee__item marquee__item--opacity">
          <picture>
            <source width="90" height="120" type="image/webp" srcset="img/media/umagazine-tablet@1x.webp 1x, img/media/umagazine-tablet@2x.webp 2x">
            <img src="img/media/umagazine-tablet@1x.png" srcset="img/media/umagazine-tablet@2x.png 2x" width="90" height="120" alt="Логотип UMAGAZINE">
          </picture>
        </div>
        <div class="marquee__item marquee__item--opacity">
          <picture>
            <source width="150" height="72" type="image/webp" srcset="img/media/liza-tablet@1x.webp 1x, img/media/liza-tablet@2x.webp 2x">
            <img src="img/media/liza-tablet@1x.png" srcset="img/media/liza-tablet@2x.png 2x" width="150" height="72" alt="Логотип Лиза">
          </picture>
        </div>
        <div class="marquee__item marquee__item--opacity">
          <picture>
            <source width="181" height="98" type="image/webp" srcset="img/media/ok-tablet@1x.webp 1x, img/media/ok-tablet@2x.webp 2x">
            <img src="img/media/ok-tablet@1x.png" srcset="img/media/ok-tablet@2x.png 2x" width="180" height="98" alt="Логотип OK MAGAZINE">
          </picture>
        </div>
        <div class="marquee__item marquee__item--opacity">
          <picture>
            <source width="222" height="61" type="image/webp" srcset="img/media/robb-report-tablet@1x.webp 1x, img/media/robb-report-tablet@2x.webp 2x">
            <img src="img/media/robb-report-tablet@1x.png" srcset="img/media/robb-report-tablet@2x.png 2x" width="222" height="61" alt="Логотип Robb Report">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>