<section class="grid" data-align="grid">
  <div class="container">
    <div class="grid__wrapper">
      <h2 class="grid__small-title title-with-circle">Подход</h2>
      <h2 class="grid__slogan title title--light">Мы&nbsp;предложили формат &laquo;бренд-ужин&nbsp;+ beauty-проект&raquo;: совместное событие, где гости дегустировали блюда Cevicheria, а&nbsp;бренд Roz Mary презентовал свою линию масел. В&nbsp;рамках сотрудничества&nbsp;мы:</h2>
      <div class="grid__card" data-animation>
        <p class="grid__title" data-align="title">Сформировали медиаплан</p>
        <p class="grid__text" data-align="text">Мы&nbsp;обеспечили визуальное сопровождение проекта: пригласили фотографа и&nbsp;видеографа, подготовили кадры с&nbsp;гостями вечера, блюдами от&nbsp;шефа и&nbsp;продуктами Roz&nbsp;Mary. Это дало качественный контент для СМИ и&nbsp;социальных сетей, усилив визуальную составляющую кампании.</p>
      </div>
      <div class="grid__card" data-animation>
        <p class="grid__title" data-align="title">Подготовили пресс-релизы, материалы, визуальные образы</p>
        <p class="grid__text" data-align="text">Создали пакет информационных и&nbsp;визуальных материалов: пресс-релиз с&nbsp;ключевыми сообщениями, фото и&nbsp;видео для медиа, визуальный ряд для соцсетей. Это позволило подать проект единообразно и&nbsp;повысило вероятность публикаций.</p>
      </div>
      <div class="grid__card" data-animation>
        <p class="grid__title" data-align="title">Согласовали с&nbsp;рестораном и&nbsp;брендом сценарий активации</p>
        <p class="grid__text" data-align="text">Разработали общий сценарий коллаборации: от&nbsp;формата события до&nbsp;ключевых месседжей, которые транслируются в&nbsp;медиа. Благодаря согласованию на&nbsp;старте удалось избежать разночтений и&nbsp;показать партнёрство целостно.</p>
      </div>
      <div class="grid__card" data-animation>
        <p class="grid__title" data-align="title">Разработали питчи к&nbsp;журналистам</p>
        <p class="grid__text" data-align="text">Подготовили персонализированные предложения для редакторов и&nbsp;журналистов&nbsp;&mdash; с&nbsp;акцентом на&nbsp;уникальность проекта и&nbsp;сочетание тем &laquo;гастрономия&nbsp;+ beauty&raquo;. Такой подход повысил интерес к&nbsp;материалам и&nbsp;обеспечил публикации в&nbsp;топовых изданиях.</p>
      </div>
    </div>
  </div>
</section>