<section class="gallery">
  <div class="container">
    <h2 class="gallery__title title-with-circle">Визуальный материал</h2>
    <div class="gallery__wrapper">
      <div class="gallery__img">
        <picture>
          <source width="929" height="651" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
          <source width="369" height="259" type="image/webp" srcset="img/media/tv-3-mobile@1x.webp 1x, img/media/tv-3-mobile@2x.webp 2x">
          <source width="929" height="651" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.jpg 1x, img/media/tv-3-tablet@2x.jpg 2x">
          <img src="img/media/tv-3-mobile@1x.jpg" srcset="img/media/tv-3-mobile@2x.jpg 2x" width="369" height="259" alt="">
        </picture>
      </div>
      <div class="gallery__img">
        <picture>
          <source width="929" height="651" type="image/webp" media="(min-width: 768px)" srcset="img/form/1-tablet@1x.webp 1x, img/form/1-tablet@2x.webp 2x">
          <source width="369" height="259" type="image/webp" srcset="img/form/1-mobile@1x.webp 1x, img/form/1-mobile@2x.webp 2x">
          <source width="929" height="651" type="image/jpg" media="(min-width: 768px)" srcset="img/form/1-tablet@1x.jpg 1x, img/form/1-tablet@2x.jpg 2x">
          <img src="img/form/1-mobile@1x.jpg" srcset="img/form/1-mobile@2x.jpg 2x" width="369" height="249" alt="Логотип компании">
        </picture>
      </div>
      <div class="gallery__img video">
        <div class="video__img">
          <picture>
            <source width="454" height="481" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
            <source width="369" height="259" type="image/webp" srcset="img/media/tv-1-mobile@1x.webp 1x, img/media/tv-1-mobile@2x.webp 2x">
            <source width="454" height="481" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
            <img src="img/media/tv-1-mobile@1x.jpg" srcset="img/media/tv-1-mobile@2x.jpg 2x" width="369" height="259" alt="">
          </picture>
        </div>
        <div class="video__player">
          <!-- <video src="img/video/our-production.mp4" loop></video> -->
        </div>
        <button class="video__button-play" type="button">
          <span class="visually-hidden">Начать воспроизведение видео.</span>
        </button>
      </div>
      <div class="gallery__img video">
        <div class="video__img">
          <picture>
            <source width="454" height="481" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
            <source width="369" height="259" type="image/webp" srcset="img/media/tv-2-mobile@1x.webp 1x, img/media/tv-2-mobile@2x.webp 2x">
            <source width="454" height="481" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.jpg 1x, img/media/tv-2-tablet@2x.jpg 2x">
            <img src="img/media/tv-2-mobile@1x.jpg" srcset="img/media/tv-2-mobile@2x.jpg 2x" width="369" height="259" alt="">
          </picture>
        </div>
        <div class="video__player">
          <!-- <video src="img/video/our-production.mp4" loop></video> -->
        </div>
        <button class="video__button-play" type="button">
          <span class="visually-hidden">Начать воспроизведение видео.</span>
        </button>
      </div>
      <div class="gallery__img video">
        <div class="video__img">
          <picture>
            <source width="454" height="481" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
            <source width="369" height="259" type="image/webp" srcset="img/media/tv-1-mobile@1x.webp 1x, img/media/tv-1-mobile@2x.webp 2x">
            <source width="454" height="481" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
            <img src="img/media/tv-1-mobile@1x.jpg" srcset="img/media/tv-1-mobile@2x.jpg 2x" width="369" height="259" alt="">
          </picture>
        </div>
        <div class="video__player">
          <!-- <video src="img/video/our-production.mp4" loop></video> -->
        </div>
        <button class="video__button-play" type="button">
          <span class="visually-hidden">Начать воспроизведение видео.</span>
        </button>
      </div>
      <div class="gallery__img video">
        <div class="video__img">
          <picture>
            <source width="454" height="481" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
            <source width="369" height="259" type="image/webp" srcset="img/media/tv-1-mobile@1x.webp 1x, img/media/tv-1-mobile@2x.webp 2x">
            <source width="454" height="481" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
            <img src="img/media/tv-1-mobile@1x.jpg" srcset="img/media/tv-1-mobile@2x.jpg 2x" width="369" height="259" alt="">
          </picture>
        </div>
        <div class="video__player">
          <!-- <video src="img/video/our-production.mp4" loop></video> -->
        </div>
        <button class="video__button-play" type="button">
          <span class="visually-hidden">Начать воспроизведение видео.</span>
        </button>
      </div>
    </div>
  </div>
</section>