<section class="hero">
  <div class="hero__img">
    <picture>
      <source width="1920" height="1080" type="image/webp" media="(min-width: 768px)" srcset="img/hero/broadcast-tablet@1x.webp 1x, img/hero/broadcast-tablet@2x.webp 2x">
      <source width="768" height="1080" type="image/webp" srcset="img/hero/broadcast-mobile@1x.webp 1x, img/hero/broadcast-mobile@2x.webp 2x">
      <source width="1920" height="1080" type="image/jpg" media="(min-width: 768px)" srcset="img/hero/broadcast-tablet@1x.jpg 1x, img/hero/broadcast-tablet@2x.jpg 2x">
      <img src="img/hero/broadcast-mobile@1x.jpg" srcset="img/hero/broadcast-mobile@2x.jpg 2x" width="768" height="1080" alt="Логотип РБК">
    </picture>
  </div>
  <div class="hero__wrapper hero__wrapper--secondary">
    <div class="hero__content">
      <h1 class="hero__slogan">Коллаборация CEVICHERIA &amp;&nbsp;Roz Mary: <br>пиар-стратегия через вкус и&nbsp;эстетику</h1>
      <p class="hero__text">Как коллаборация косметического бренда и&nbsp;ресторана оказалась в&nbsp;подборках ведущих медиа и&nbsp;привела новую аудиторию.</p>
      <button class="hero__button button button--light" type="button" aria-label="Открыть форму" data-modal-button="questions">Заполнить бриф +</button>
    </div>
  </div>
</section>