<section class="order-list">
  <div class="container">
    <div class="order-list__header">
      <h2 class="order-list__title title-with-circle">Реализация</h2>
    </div>
    <ul class="order-list__list">
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Организация съёмки фото/видео (гости, блюда, продукты)</p>
        <p class="order-list__text">Мы&nbsp;обеспечили визуальное сопровождение проекта: пригласили фотографа и&nbsp;видеографа, подготовили кадры с&nbsp;гостями вечера, блюдами от&nbsp;шефа и&nbsp;продуктами Roz Mary. Это дало качественный контент для СМИ и&nbsp;социальных сетей, усилив визуальную составляющую кампании.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Рассылка пресс-релиза и&nbsp;медийных предложений</p>
        <p class="order-list__text">После события был подготовлен и&nbsp;разослан пресс-релиз с&nbsp;акцентом на&nbsp;необычное партнёрство гастрономии и&nbsp;beauty-индустрии. Для редакторов мы&nbsp;адаптировали формат рассылки: одни получали акцент на&nbsp;ресторанной составляющей, другие&nbsp;&mdash; на&nbsp;косметической, что позволило увеличить охват.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Ведение переговоров с&nbsp;редакциями и&nbsp;блогерами</p>
        <p class="order-list__text">Агентство взяло на&nbsp;себя коммуникацию с&nbsp;ключевыми СМИ и&nbsp;лидерами мнений: согласование тем, предоставление материалов, ответы на&nbsp;уточняющие вопросы. Такой персонализированный подход обеспечил доверие со&nbsp;стороны журналистов и&nbsp;высокое качество публикаций.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Контроль публикаций: мониторинг, утверждения правок, получение ссылок</p>
        <p class="order-list__text">Мы&nbsp;сопровождали публикации на&nbsp;всех этапах: проверяли тексты перед выходом, согласовывали корректировки, фиксировали опубликованные материалы. В&nbsp;итоге клиент получил полный медиапакет со&nbsp;ссылками и&nbsp;скриншотами, что облегчило оценку результатов и&nbsp;дальнейшую отчётность.</p>
      </li>
    </ul>
  </div>
</section>