<section class="hero">
  <div class="hero__img">
    <div class="hero__img-brand">
      <picture>
        <source width="333" height="340" type="image/webp" srcset="img/hero/rozmary@1x.webp 1x, img/hero/rozmary@2x.webp 2x">
        <img src="img/hero/rozmary@1x.png" srcset="img/hero/rozmary@2x.png 2x" width="333" height="340" alt="Логотип бренда Roz Mary">
      </picture>
    </div>
  </div>
  <div class="hero__wrapper hero__wrapper--secondary hero__wrapper--brand">
    <div class="hero__content">
      <h1 class="hero__slogan">Коллаборация CEVICHERIA &amp;&nbsp;Roz Mary: <br>пиар-стратегия через вкус и&nbsp;эстетику</h1>
      <p class="hero__text">Как коллаборация косметического бренда и&nbsp;ресторана оказалась в&nbsp;подборках ведущих медиа и&nbsp;привела новую аудиторию.</p>
      <button class="hero__button button button--light" type="button" aria-label="Открыть форму" data-modal-button="questions">Заполнить бриф +</button>
    </div>
  </div>
</section>