<section class="hero">
  <div class="hero__img">
    <picture>
      <source width="1920" height="1080" type="image/webp" media="(min-width: 768px)" srcset="img/hero/full-tablet@1x.webp 1x, img/hero/full-tablet@2x.webp 2x">
      <source width="768" height="1080" type="image/webp" srcset="img/hero/full-mobile@1x.webp 1x, img/hero/full-mobile@2x.webp 2x">
      <source width="1920" height="1080" type="image/jpg" media="(min-width: 768px)" srcset="img/hero/full-tablet@1x.jpg 1x, img/hero/full-tablet@2x.jpg 2x">
      <img src="img/hero/full-mobile@1x.jpg" srcset="img/hero/full-mobile@2x.jpg 2x" width="768" height="1080" alt="Логотип РБК">
    </picture>
  </div>
  <div class="hero__wrapper hero__wrapper--secondary">
    <div class="hero__content">
      <h1 class="hero__slogan">Полное PR&#8288;-&#8288;сопровождение: <br>от&nbsp;стратегии до&nbsp;реализации</h1>
      <p class="hero__text">Комплексная работа с&nbsp;медиа&nbsp;&mdash; публикации, эфиры, подкасты и&nbsp;коллаборации. Мы&nbsp;выстраиваем системное присутствие бренда в&nbsp;информационном поле.</p>
      <button class="hero__button button button--light" type="button" aria-label="Открыть форму" data-modal-button="questions">Заполнить бриф +</button>
    </div>
  </div>
</section>