<section class="grid" data-align="grid">
  <div class="container">
    <div class="grid__wrapper">
      <h2 class="grid__title visually-hidden">От задач к результату</h2>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Кому подойдёт эта услуга</h3>
        <p class="grid__text" data-align="text">Брендам, экспертам и&nbsp;компаниям, которые хотят выстроить чёткое восприятие в&nbsp;медиа и&nbsp;у&nbsp;аудитории: кто&nbsp;вы, чем отличаетесь и&nbsp;почему вам можно доверять.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Когда стоит начать с позиционирования</h3>
        <p class="grid__text" data-align="text">Когда бренд выходит на&nbsp;рынок, обновляет стратегию, масштабируется или чувствует, что коммуникации стали разрозненными и&nbsp;теряют фокус.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Зачем нужно позиционирование</h3>
        <p class="grid__text" data-align="text">Чтобы все PR-активности опирались на&nbsp;единый смысл. Без чёткой идеи пиар превращается в&nbsp;хаос: публикации не&nbsp;формируют образ, а&nbsp;доверие остаётся на&nbsp;уровне случайных касаний.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Что мы делаем</h3>
        <p class="grid__text" data-align="text">Проводим аудит текущего восприятия, анализируем конкурентов, выявляем сильные стороны, формулируем ключевые месседжи и&nbsp;tone of&nbsp;voice, на&nbsp;которых строится весь пиар.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Что вы получаете в&nbsp;итоге</h3>
        <p class="grid__text" data-align="text">Понимание, как воспринимает вас аудитория, чёткую коммуникационную основу и&nbsp;документ с&nbsp;позиционированием, который станет базой для пиара, маркетинга и&nbsp;контента.</p>
      </div>
      <form class="grid__form" action="form.php" method="post">
        <fieldset class="grid__form-group">
          <legend class="grid__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="grid__form-list">
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваше имя</span>
                <input class="grid__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваш телефон</span>
                <input class="grid__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="grid__accept">
          <span class="grid__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="grid__form-button-container">
          <div class="grid__form-error-wrapper form-error-message">
            <p class="grid__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="grid__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        </div>
      </form>
    </div>
  </div>
</section>