<section class="hero">
  <div class="hero__img">
    <picture>
      <source width="1920" height="1080" type="image/webp" media="(min-width: 768px)" srcset="img/hero/publication-tablet@1x.webp 1x, img/hero/publication-tablet@2x.webp 2x">
      <source width="768" height="1080" type="image/webp" srcset="img/hero/publication-mobile@1x.webp 1x, img/hero/publication-mobile@2x.webp 2x">
      <source width="1920" height="1080" type="image/jpg" media="(min-width: 768px)" srcset="img/hero/publication-tablet@1x.jpg 1x, img/hero/publication-tablet@2x.jpg 2x">
      <img src="img/hero/publication-mobile@1x.jpg" srcset="img/hero/publication-mobile@2x.jpg 2x" width="768" height="1080" alt="Логотип РБК">
    </picture>
  </div>
  <div class="hero__wrapper hero__wrapper--secondary">
    <div class="hero__content">
      <h1 class="hero__slogan">Публикации в СМИ и онлайн-изданиях</h1>
      <p class="hero__text">Материалы в&nbsp;деловых и&nbsp;нишевых медиа усиливают доверие к&nbsp;бренду, формируют узнаваемость и&nbsp;закрепляют ваш статус в&nbsp;профессиональном сообществе.</p>
      <button class="hero__button button button--light" type="button" aria-label="Открыть форму" data-modal-button="questions">Заполнить бриф +</button>
    </div>
  </div>
</section>