<section class="order-list">
  <div class="container">
    <div class="order-list__header">
      <h2 class="order-list__title title">Как проходит работа над&nbsp;телевизионными и радиовыходами</h2>
    </div>
    <ul class="order-list__list">
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Подбор площадок</p>
        <p class="order-list__text">Определяем каналы и&nbsp;программы, которые соответствуют целям клиента: от&nbsp;федеральных телеканалов до&nbsp;нишевых радиостанций.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Форматы участия</p>
        <p class="order-list__text">Интервью, экспертные комментарии, участие в&nbsp;ток-шоу или новостных блоках&nbsp;&mdash; формат выбирается под задачу и&nbsp;аудиторию.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Подготовка материалов</p>
        <p class="order-list__text">Вы&nbsp;можете предоставить готовые тексты для адаптации под формат издания либо заказать подготовку материала нашим копирайтерам.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Организация выхода</p>
        <p class="order-list__text">Взаимодействуем с&nbsp;редакциями и&nbsp;координируем процесс: от&nbsp;согласования времени до&nbsp;выхода эфира.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Отчётность и эффект</p>
        <p class="order-list__text">Фиксируем все упоминания, анализируем охваты и&nbsp;влияние выхода на&nbsp;узнаваемость и&nbsp;позиционирование клиента.</p>
      </li>
    </ul>
  </div>
</section>