<section class="order-list">
  <div class="container">
    <div class="order-list__header">
      <h2 class="order-list__title title">Путь от&nbsp;идей к&nbsp;чёткой пиар-стратегии</h2>
    </div>
    <ul class="order-list__list">
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Исследование и аудит</p>
        <p class="order-list__text">Анализируем рынок, конкурентов и&nbsp;текущую репутацию клиента. Выявляем, как бренд выглядит сегодня и&nbsp;чего ему не&nbsp;хватает для укрепления позиций.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Определение целевой аудитории</p>
        <p class="order-list__text">Сегментируем клиентов и&nbsp;формируем портреты: кто они, что ценят, как принимают решения. Это основа для выбора правильных сообщений.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Формулировка ценностей и смыслов</p>
        <p class="order-list__text">Совместно с&nbsp;клиентом определяем ключевые идеи, которые бренд хочет транслировать: миссия, ценности, преимущества.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Разработка месседжей и тональности</p>
        <p class="order-list__text">Создаём ядро коммуникаций: формулируем основные месседжи для разных каналов (СМИ, соцсети, офлайн) и&nbsp;задаём tone of&nbsp;voice бренда.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Финализация и медиапланирование</p>
        <p class="order-list__text">Формируем документ с&nbsp;позиционированием и&nbsp;предлагаем первые шаги по&nbsp;выходу в&nbsp;медиаполе: от&nbsp;публикаций до&nbsp;коллабораций, где новое позиционирование сразу будет задействовано.</p>
      </li>
    </ul>
    <button class="order-list__link button button--dark" type="button" aria-label="Открыть форму обратной связи" data-modal-button="price">Получить консультацию&nbsp;+</button>
  </div>
</section>