<section class="stages">
  <div class="container">
    <div class="stages__header" data-animation="decor-line">
      <h2 class="stages__title title title--light">Форматы и площадки, с&nbsp;которыми мы <br>работаем в&nbsp;рамках PR&#8288;-&#8288;публикаций</h2>
    </div>
    <div class="stages__swiper-container">
      <div class="stages__swiper" data-swiper="navigation">
        <ul class="stages__swiper-wrapper">
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Федеральные и деловые медиа</p>
              <p class="stages__text">Публикуем материалы в&nbsp;изданиях, где&nbsp;аудитория ценит экспертность и факты&nbsp;— Forbes, РБК, Коммерсантъ и другие площадки, формирующие деловую репутацию.</p>
            </div>
          </li>
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Lifestyle и нишевые издания</p>
              <p class="stages__text">Выходим в&nbsp;медиа, которые говорят о&nbsp;стиле жизни, культуре и трендах: Marie&nbsp;Claire, Woman, The&nbsp;Voice&nbsp;— всё, что&nbsp;помогает бренду стать ближе к&nbsp;людям.</p>
            </div>
          </li>
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Федеральные и деловые медиа</p>
              <p class="stages__text">Публикуем материалы в&nbsp;изданиях, где&nbsp;аудитория ценит экспертность и факты&nbsp;— Forbes, РБК, Коммерсантъ и другие площадки, формирующие деловую репутацию.</p>
            </div>
          </li>
        </ul>
        <div class="stages__swiper-button-container hidden">
          <button class="button-swiper button-swiper--light button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--light button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
      <button class="stages__link button button--light-to-accent" type="button" aria-label="Открыть форму обратной связи" data-modal-button="price">Получить план и медиалист&nbsp;+</button>
    </div>
  </div>
</section>