<section class="stages">
  <div class="container">
    <div class="stages__header" data-animation="decor-line">
      <h2 class="stages__title title title--light">Форматы, которые мы&nbsp;объединяем в&nbsp;единую PR-систему</h2>
    </div>
    <div class="stages__swiper-container">
      <div class="stages__swiper" data-swiper="navigation">
        <ul class="stages__swiper-wrapper">
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Публикации в&nbsp;СМИ и&nbsp;онлайн-изданиях</p>
              <p class="stages__text">Регулярные выходы в&nbsp;федеральных и&nbsp;нишевых медиа, которые помогают закрепить экспертность и&nbsp;повысить узнаваемость бренда.</p>
            </div>
          </li>
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Телевизионные и радиоэфиры</p>
              <p class="stages__text">Участие экспертов и&nbsp;руководителей компании в&nbsp;федеральных программах и&nbsp;интервью с&nbsp;целью укрепления деловой репутации и&nbsp;повышения имиджа организации</p>
            </div>
          </li>
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Публикации в&nbsp;СМИ и&nbsp;онлайн-изданиях</p>
              <p class="stages__text">Регулярные выходы в&nbsp;федеральных и&nbsp;нишевых медиа, которые помогают закрепить экспертность и&nbsp;повысить узнаваемость бренда.</p>
            </div>
          </li>
        </ul>
        <div class="stages__swiper-button-container hidden">
          <button class="button-swiper button-swiper--light button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--light button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
      <button class="stages__link button button--light-to-accent" type="button" aria-label="Открыть форму обратной связи" data-modal-button="price">Получить план и медиалист&nbsp;+</button>
    </div>
  </div>
</section>