<section class="services">
  <div class="container">
    <h2 class="services__title title">Пиар-услуги, которые формируют узнаваемость и&nbsp;доверие, создают фундамент для&nbsp;долгосрочного роста бренда и&nbsp;его позиции в&nbsp;медиа-пространстве</h2>
    <ul class="services__list">
      <li class="services__item" data-animation="decor-line">
        <h3 class="services__subtitle">Полное PR&#8288;-сопровождение</h3>
        <div class="services__img">
          <picture>
            <source width="456" height="424" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/1-full@1x.webp 1x, img/services-preview/1-full@2x.webp 2x">
            <source width="362" height="314" type="image/webp" srcset="img/services-preview/4-tablet@1x.webp 1x, img/services-preview/4-tablet@2x.webp 2x">
            <source width="456" height="424" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/1-full@1x.jpg 1x, img/services-preview/1-full@2x.jpg 2x">
            <img src="img/services-preview/4-tablet@1x.jpg" srcset="img/services-preview/4-tablet@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
          </picture>
        </div>
        <div class="services__content">
          <p class="services__text">Комплексная работа с&nbsp;медиа: публикации, ТВ, подкасты, коллаборации и&nbsp;мероприятия. Мы&nbsp;выстраиваем стратегию присутствия в&nbsp;медиаполе так, чтобы формировать узнаваемость, доверие и&nbsp;долгосрочный статус бренда.</p>
          <div class="services__button-container">
            <button class="services__price button button--accent" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;160&nbsp;000&nbsp;₽</button>
            <a class="services__link button button--dark" href="services-full.html">Узнать подробнее&nbsp;+</a>
          </div>
        </div>
      </li>
      <li class="services__item" data-animation="decor-line">
        <h3 class="services__subtitle">Публикации в&nbsp;СМИ и онлайн-изданиях</h3>
        <div class="services__img">
          <picture>
            <source width="456" height="314" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/2-full@1x.webp 1x, img/services-preview/2-full@2x.webp 2x">
            <source width="362" height="314" type="image/webp" srcset="img/services-preview/1-mobile@1x.webp 1x, img/services-preview/1-mobile@2x.webp 2x">
            <source width="456" height="314" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/2-full@1x.jpg 1x, img/services-preview/2-full@2x.jpg 2x">
            <img src="img/services-preview/1-mobile@1x.jpg" srcset="img/services-preview/1-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
          </picture>
        </div>
        <div class="services__content">
          <p class="services__text">Мы&nbsp;помогаем брендам, экспертам и&nbsp;компаниям выходить в&nbsp;профильные медиа и&nbsp;деловые издания. Каждая публикация&nbsp;&mdash; это возможность укрепить репутацию и&nbsp;донести ключевые смыслы до&nbsp;нужной аудитории.</p>
          <div class="services__button-container">
            <button class="services__price button button--accent" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;25&nbsp;000&nbsp;₽</button>
            <a class="services__link button button--dark" href="services-publication.html">Узнать подробнее&nbsp;+</a>
          </div>
        </div>
      </li>
      <li class="services__item" data-animation="decor-line">
        <h3 class="services__subtitle">Телевизионные и радиовыходы</h3>
        <div class="services__img">
          <picture>
            <source width="456" height="424" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/3-full@1x.webp 1x, img/services-preview/3-full@2x.webp 2x">
            <source width="362" height="314" type="image/webp" srcset="img/services-preview/3-mobile@1x.webp 1x, img/services-preview/3-mobile@2x.webp 2x">
            <source width="456" height="424" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/3-full@1x.jpg 1x, img/services-preview/3-full@2x.jpg 2x">
            <img src="img/services-preview/3-mobile@1x.jpg" srcset="img/services-preview/3-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
          </picture>
        </div>
        <div class="services__content">
          <p class="services__text">Участие в&nbsp;ТВ- и&nbsp;радиоэфирах усиливает охват и&nbsp;повышает доверие к&nbsp;спикеру или бренду. Мы&nbsp;подбираем площадки и&nbsp;форматы, которые соответствуют целям клиента и&nbsp;интересам аудитории.</p>
          <div class="services__button-container">
            <button class="services__price button button--accent" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;50&nbsp;000&nbsp;₽</button>
            <a class="services__link button button--dark" href="services-broadcast.html">Узнать подробнее&nbsp;+</a>
          </div>
        </div>
      </li>
      <li class="services__item" data-animation="decor-line">
        <h3 class="services__subtitle">Коллаборации и партнёрства</h3>
        <div class="services__img">
          <picture>
            <source width="456" height="314" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/4-full@1x.webp 1x, img/services-preview/4-full@2x.webp 2x">
            <source width="362" height="314" type="image/webp" srcset="img/services-preview/4-mobile@1x.webp 1x, img/services-preview/4-mobile@2x.webp 2x">
            <source width="456" height="314" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/4-full@1x.jpg 1x, img/services-preview/4-full@2x.jpg 2x">
            <img src="img/services-preview/4-mobile@1x.jpg" srcset="img/services-preview/4-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
          </picture>
        </div>
        <div class="services__content">
          <p class="services__text">Совместные проекты с&nbsp;брендами, лидерами мнений и&nbsp;площадками позволяют расширить охват и&nbsp;найти новые точки контакта с&nbsp;аудиторией. Мы&nbsp;предлагаем форматы, которые органично вписываются в&nbsp;вашу стратегию.</p>
          <div class="services__button-container">
            <button class="services__price button button--accent" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;180&nbsp;000&nbsp;₽</button>
            <a class="services__link button button--dark" href="services-collaboration.html">Узнать подробнее&nbsp;+</a>
          </div>
        </div>
      </li>
      <li class="services__item" data-animation="decor-line">
        <h3 class="services__subtitle">Создание позиционирования (опционально)</h3>
        <div class="services__img">
          <picture>
            <source width="456" height="424" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/5-full@1x.webp 1x, img/services-preview/5-full@2x.webp 2x">
            <source width="362" height="314" type="image/webp" srcset="img/services-preview/5-mobile@1x.webp 1x, img/services-preview/5-mobile@2x.webp 2x">
            <source width="456" height="424" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/5-full@1x.jpg 1x, img/services-preview/5-full@2x.jpg 2x">
            <img src="img/services-preview/5-mobile@1x.jpg" srcset="img/services-preview/5-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
          </picture>
        </div>
        <div class="services__content">
          <p class="services__text">Для тех, кто только выходит в&nbsp;медиаполе, мы&nbsp;помогаем сформировать ключевые месседжи и&nbsp;определить стратегическое позиционирование. Эта работа может выполняться отдельно или в&nbsp;рамках полного PR&#8288;-сопровождения.</p>
          <div class="services__button-container">
            <button class="services__price button button--accent" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;100&nbsp;000&nbsp;₽</button>
            <a class="services__link button button--dark" href="services-positioning.html">Узнать подробнее&nbsp;+</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>