<section class="order-list">
  <div class="container">
    <div class="order-list__header">
      <h2 class="order-list__title title">Как мы&nbsp;выстраиваем работу в&nbsp;рамках полного пиара</h2>
    </div>
    <ul class="order-list__list">
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Диагностика и брифинг</p>
        <p class="order-list__text">Изучаем задачи клиента, его текущую репутацию, медиаполе и&nbsp;конкурентное окружение. На&nbsp;этом этапе формируется понимание целей и&nbsp;ключевых сообщений.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Разработка PR&#8288;-&#8288;стратегии</p>
        <p class="order-list__text">Определяем форматы: публикации, эфиры, подкасты, коллаборации. Строим медиаплан с&nbsp;учётом приоритетных каналов и&nbsp;нужной аудитории.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Подготовка и создание контента</p>
        <p class="order-list__text">Готовим статьи, комментарии, пресс-релизы, тезисы для эфиров. Важно, чтобы материалы соответствовали редакционным стандартам и&nbsp;интересам аудитории.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Реализация и&nbsp;выход в&nbsp;медиа</p>
        <p class="order-list__text">Запускаем публикации, организуем выходы на&nbsp;ТВ и&nbsp;радио, договариваемся о&nbsp;коллаборациях. Ведём переговоры с&nbsp;редакциями и&nbsp;курируем все процессы.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Мониторинг и отчётность</p>
        <p class="order-list__text">Фиксируем публикации и&nbsp;эфиры, анализируем охваты и&nbsp;реакцию аудитории. Корректируем стратегию, чтобы эффективность пиара только росла.</p>
      </li>
    </ul>
    <button class="order-list__link button button--dark" type="button" aria-label="Открыть форму обратной связи" data-modal-button="price">Получить консультацию&nbsp;+</button>
  </div>
</section>