<section class="media">
  <div class="container">
    <h2 class="media__title title">Форматы и&nbsp;площадки, с&nbsp;которыми мы&nbsp;работаем в&nbsp;рамках полного PR&#8288;-&#8288;сопровождения</h2>
    <div class="media__wrapper">
      <div class="media__tabs tabs tabs--autoplay">
        <div class="media__tabs-wrapper">
          <ul class="media__tablinks tabs__tablinks accordion" data-accordion="single">
            <li class="media__tablinks-item">
              <button class="media__tablink tabs__tablink tabs__tablink--active accordion-button accordion-button--active" data-tab="media" type="button">Федеральные и деловые медиа</button>
              <div class="media__description accordion-content accordion-content--opened">
                <p>Публикуем материалы в&nbsp;изданиях, где аудитория ценит экспертность и&nbsp;факты&nbsp;&mdash; Forbes, РБК, Коммерсантъ и&nbsp;другие площадки, формирующие деловую репутацию.</p>
              </div>
            </li>
            <li class="media__tablinks-item">
              <button class="media__tablink tabs__tablink accordion-button" data-tab="lifestyle" type="button">Стиль жизни и нишевые издания</button>
              <div class="media__description accordion-content">
                <p></p>
              </div>
            </li>
            <li class="media__tablinks-item">
              <button class="media__tablink tabs__tablink accordion-button" data-tab="online" type="button">Онлайн-порталы и цифровые-площадки</button>
              <div class="media__description accordion-content">
                <p></p>
              </div>
            </li>
             <li class="media__tablinks-item">
              <button class="media__tablink tabs__tablink accordion-button" data-tab="spec" type="button">Спецпроекты и нативные форматы</button>
              <div class="media__description accordion-content">
                <p></p>
              </div>
            </li>
          </ul>
          <a class="media__link-more" href="#">И&nbsp;другие</a>
        </div>
        <div class="media__tabcontents tabs__tabcontents">
          <div class="media__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="media">
            <div class="media__marquee marquee">
              <div class="marquee__item">
                <picture>
                  <source width="111" height="144" type="image/webp" media="(min-width: 768px)" srcset="img/media/pervyi-tablet@1x.webp 1x, img/media/pervyi-tablet@2x.webp 2x">
                  <source width="60" height="77" type="image/webp" srcset="img/media/pervyi-mobile@1x.webp 1x, img/media/pervyi-mobile@2x.webp 2x">
                  <source width="111" height="144" type="image/png" media="(min-width: 768px)" srcset="img/media/pervyi-tablet@1x.png 1x, img/media/pervyi-tablet@2x.png 2x">
                  <img src="img/media/pervyi-mobile@1x.png" srcset="img/media/pervyi-mobile@2x.png 2x" width="60" height="77" alt="Логотип первого канала">
                </picture>
              </div>
              <div class="marquee__item">
                <picture>
                  <source width="262" height="70" type="image/webp" media="(min-width: 768px)" srcset="img/media/rbk-tablet@1x.webp 1x, img/media/rbk-tablet@2x.webp 2x">
                  <source width="141" height="38" type="image/webp" srcset="img/media/rbk-mobile@1x.webp 1x, img/media/rbk-mobile@2x.webp 2x">
                  <source width="262" height="70" type="image/png" media="(min-width: 768px)" srcset="img/media/rbk-tablet@1x.png 1x, img/media/rbk-tablet@2x.png 2x">
                  <img src="img/media/rbk-mobile@1x.png" srcset="img/media/rbk-mobile@2x.png 2x" width="141" height="38" alt="Логотип РБК">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="230" height="167" type="image/webp" media="(min-width: 768px)" srcset="img/media/ntv-tablet@1x.webp 1x, img/media/ntv-tablet@2x.webp 2x">
                  <source width="124" height="91" type="image/webp" srcset="img/media/ntv-mobile@1x.webp 1x, img/media/ntv-mobile@2x.webp 2x">
                  <source width="230" height="167" type="image/png" media="(min-width: 768px)" srcset="img/media/ntv-tablet@1x.png 1x, img/media/ntv-tablet@2x.png 2x">
                  <img src="img/media/ntv-mobile@1x.png" srcset="img/media/ntv-mobile@2x.png 2x" width="124" height="91" alt="Логотип НТВ">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="211" height="123" type="image/webp" media="(min-width: 768px)" srcset="img/media/m24-tablet@1x.webp 1x, img/media/m24-tablet@2x.webp 2x">
                  <source width="141" height="82" type="image/webp" srcset="img/media/m24-mobile@1x.webp 1x, img/media/m24-mobile@2x.webp 2x">
                  <source width="211" height="123" type="image/png" media="(min-width: 768px)" srcset="img/media/m24-tablet@1x.png 1x, img/media/m24-tablet@2x.png 2x">
                  <img src="img/media/m24-mobile@1x.png" srcset="img/media/m24-mobile@2x.png 2x" width="141" height="82" alt="Логотип М24">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="259" height="107" type="image/webp" media="(min-width: 768px)" srcset="img/media/doverie-tablet@1x.webp 1x, img/media/doverie-tablet@2x.webp 2x">
                  <source width="190" height="78" type="image/webp" srcset="img/media/doverie-mobile@1x.webp 1x, img/media/doverie-mobile@2x.webp 2x">
                  <source width="259" height="107" type="image/png" media="(min-width: 768px)" srcset="img/media/doverie-tablet@1x.png 1x, img/media/doverie-tablet@2x.png 2x">
                  <img src="img/media/doverie-mobile@1x.png" srcset="img/media/doverie-mobile@2x.png 2x" width="190" height="78" alt="Логотип Москва Доверие">
                </picture>
              </div>
            </div>
            <div class="media__swiper-container">
              <div class="media__swiper" data-swiper="navigation">
                <ul class="media__swiper-wrapper">
                  <li class="media__slide">
                    <div class="media__img video">
                      <div class="video__img">
                        <picture>
                          <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
                          <source width="369" height="492" type="image/webp" srcset="img/media/tv-1-mobile@1x.webp 1x, img/media/tv-1-mobile@2x.webp 2x">
                          <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
                          <img src="img/media/tv-1-mobile@1x.jpg" srcset="img/media/tv-1-mobile@2x.jpg 2x" width="369" height="492" alt="">
                        </picture>
                      </div>
                      <div class="video__player">
                        <!-- <video src="img/video/our-production.mp4" loop></video> -->
                      </div>
                      <button class="video__button-play" type="button">
                        <span class="visually-hidden">Начать воспроизведение видео.</span>
                      </button>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-2-mobile@1x.webp 1x, img/media/tv-2-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.jpg 1x, img/media/tv-2-tablet@2x.jpg 2x">
                        <img src="img/media/tv-2-mobile@1x.jpg" srcset="img/media/tv-2-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-3-mobile@1x.webp 1x, img/media/tv-3-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.jpg 1x, img/media/tv-3-tablet@2x.jpg 2x">
                        <img src="img/media/tv-3-mobile@1x.jpg" srcset="img/media/tv-3-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                </ul>
                <div class="media__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="media__tabcontent tabs__tabcontent" data-tab-content="lifestyle">
            <div class="media__marquee marquee">
              <div class="marquee__item">
                <picture>
                  <source width="111" height="144" type="image/webp" media="(min-width: 768px)" srcset="img/media/pervyi-tablet@1x.webp 1x, img/media/pervyi-tablet@2x.webp 2x">
                  <source width="60" height="77" type="image/webp" srcset="img/media/pervyi-mobile@1x.webp 1x, img/media/pervyi-mobile@2x.webp 2x">
                  <source width="111" height="144" type="image/png" media="(min-width: 768px)" srcset="img/media/pervyi-tablet@1x.png 1x, img/media/pervyi-tablet@2x.png 2x">
                  <img src="img/media/pervyi-mobile@1x.png" srcset="img/media/pervyi-mobile@2x.png 2x" width="60" height="77" alt="Логотип первого канала">
                </picture>
              </div>
              <div class="marquee__item">
                <picture>
                  <source width="262" height="70" type="image/webp" media="(min-width: 768px)" srcset="img/media/rbk-tablet@1x.webp 1x, img/media/rbk-tablet@2x.webp 2x">
                  <source width="141" height="38" type="image/webp" srcset="img/media/rbk-mobile@1x.webp 1x, img/media/rbk-mobile@2x.webp 2x">
                  <source width="262" height="70" type="image/png" media="(min-width: 768px)" srcset="img/media/rbk-tablet@1x.png 1x, img/media/rbk-tablet@2x.png 2x">
                  <img src="img/media/rbk-mobile@1x.png" srcset="img/media/rbk-mobile@2x.png 2x" width="141" height="38" alt="Логотип РБК">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="230" height="167" type="image/webp" media="(min-width: 768px)" srcset="img/media/ntv-tablet@1x.webp 1x, img/media/ntv-tablet@2x.webp 2x">
                  <source width="124" height="91" type="image/webp" srcset="img/media/ntv-mobile@1x.webp 1x, img/media/ntv-mobile@2x.webp 2x">
                  <source width="230" height="167" type="image/png" media="(min-width: 768px)" srcset="img/media/ntv-tablet@1x.png 1x, img/media/ntv-tablet@2x.png 2x">
                  <img src="img/media/ntv-mobile@1x.png" srcset="img/media/ntv-mobile@2x.png 2x" width="124" height="91" alt="Логотип НТВ">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="211" height="123" type="image/webp" media="(min-width: 768px)" srcset="img/media/m24-tablet@1x.webp 1x, img/media/m24-tablet@2x.webp 2x">
                  <source width="141" height="82" type="image/webp" srcset="img/media/m24-mobile@1x.webp 1x, img/media/m24-mobile@2x.webp 2x">
                  <source width="211" height="123" type="image/png" media="(min-width: 768px)" srcset="img/media/m24-tablet@1x.png 1x, img/media/m24-tablet@2x.png 2x">
                  <img src="img/media/m24-mobile@1x.png" srcset="img/media/m24-mobile@2x.png 2x" width="141" height="82" alt="Логотип М24">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="259" height="107" type="image/webp" media="(min-width: 768px)" srcset="img/media/doverie-tablet@1x.webp 1x, img/media/doverie-tablet@2x.webp 2x">
                  <source width="190" height="78" type="image/webp" srcset="img/media/doverie-mobile@1x.webp 1x, img/media/doverie-mobile@2x.webp 2x">
                  <source width="259" height="107" type="image/png" media="(min-width: 768px)" srcset="img/media/doverie-tablet@1x.png 1x, img/media/doverie-tablet@2x.png 2x">
                  <img src="img/media/doverie-mobile@1x.png" srcset="img/media/doverie-mobile@2x.png 2x" width="190" height="78" alt="Логотип Москва Доверие">
                </picture>
              </div>
            </div>
            <div class="media__swiper-container">
              <div class="media__swiper" data-swiper="navigation">
                <ul class="media__swiper-wrapper">
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-2-mobile@1x.webp 1x, img/media/tv-2-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.jpg 1x, img/media/tv-2-tablet@2x.jpg 2x">
                        <img src="img/media/tv-2-mobile@1x.jpg" srcset="img/media/tv-2-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-1-mobile@1x.webp 1x, img/media/tv-1-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
                        <img src="img/media/tv-1-mobile@1x.jpg" srcset="img/media/tv-1-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-3-mobile@1x.webp 1x, img/media/tv-3-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.jpg 1x, img/media/tv-3-tablet@2x.jpg 2x">
                        <img src="img/media/tv-3-mobile@1x.jpg" srcset="img/media/tv-3-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                </ul>
                <div class="media__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="media__tabcontent tabs__tabcontent" data-tab-content="online">
            <div class="media__marquee marquee">
              <div class="marquee__item">
                <picture>
                  <source width="111" height="144" type="image/webp" media="(min-width: 768px)" srcset="img/media/pervyi-tablet@1x.webp 1x, img/media/pervyi-tablet@2x.webp 2x">
                  <source width="60" height="77" type="image/webp" srcset="img/media/pervyi-mobile@1x.webp 1x, img/media/pervyi-mobile@2x.webp 2x">
                  <source width="111" height="144" type="image/png" media="(min-width: 768px)" srcset="img/media/pervyi-tablet@1x.png 1x, img/media/pervyi-tablet@2x.png 2x">
                  <img src="img/media/pervyi-mobile@1x.png" srcset="img/media/pervyi-mobile@2x.png 2x" width="60" height="77" alt="Логотип первого канала">
                </picture>
              </div>
              <div class="marquee__item">
                <picture>
                  <source width="262" height="70" type="image/webp" media="(min-width: 768px)" srcset="img/media/rbk-tablet@1x.webp 1x, img/media/rbk-tablet@2x.webp 2x">
                  <source width="141" height="38" type="image/webp" srcset="img/media/rbk-mobile@1x.webp 1x, img/media/rbk-mobile@2x.webp 2x">
                  <source width="262" height="70" type="image/png" media="(min-width: 768px)" srcset="img/media/rbk-tablet@1x.png 1x, img/media/rbk-tablet@2x.png 2x">
                  <img src="img/media/rbk-mobile@1x.png" srcset="img/media/rbk-mobile@2x.png 2x" width="141" height="38" alt="Логотип РБК">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="230" height="167" type="image/webp" media="(min-width: 768px)" srcset="img/media/ntv-tablet@1x.webp 1x, img/media/ntv-tablet@2x.webp 2x">
                  <source width="124" height="91" type="image/webp" srcset="img/media/ntv-mobile@1x.webp 1x, img/media/ntv-mobile@2x.webp 2x">
                  <source width="230" height="167" type="image/png" media="(min-width: 768px)" srcset="img/media/ntv-tablet@1x.png 1x, img/media/ntv-tablet@2x.png 2x">
                  <img src="img/media/ntv-mobile@1x.png" srcset="img/media/ntv-mobile@2x.png 2x" width="124" height="91" alt="Логотип НТВ">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="211" height="123" type="image/webp" media="(min-width: 768px)" srcset="img/media/m24-tablet@1x.webp 1x, img/media/m24-tablet@2x.webp 2x">
                  <source width="141" height="82" type="image/webp" srcset="img/media/m24-mobile@1x.webp 1x, img/media/m24-mobile@2x.webp 2x">
                  <source width="211" height="123" type="image/png" media="(min-width: 768px)" srcset="img/media/m24-tablet@1x.png 1x, img/media/m24-tablet@2x.png 2x">
                  <img src="img/media/m24-mobile@1x.png" srcset="img/media/m24-mobile@2x.png 2x" width="141" height="82" alt="Логотип М24">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="259" height="107" type="image/webp" media="(min-width: 768px)" srcset="img/media/doverie-tablet@1x.webp 1x, img/media/doverie-tablet@2x.webp 2x">
                  <source width="190" height="78" type="image/webp" srcset="img/media/doverie-mobile@1x.webp 1x, img/media/doverie-mobile@2x.webp 2x">
                  <source width="259" height="107" type="image/png" media="(min-width: 768px)" srcset="img/media/doverie-tablet@1x.png 1x, img/media/doverie-tablet@2x.png 2x">
                  <img src="img/media/doverie-mobile@1x.png" srcset="img/media/doverie-mobile@2x.png 2x" width="190" height="78" alt="Логотип Москва Доверие">
                </picture>
              </div>
            </div>
            <div class="media__swiper-container">
              <div class="media__swiper" data-swiper="navigation">
                <ul class="media__swiper-wrapper">
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-3-mobile@1x.webp 1x, img/media/tv-3-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.jpg 1x, img/media/tv-3-tablet@2x.jpg 2x">
                        <img src="img/media/tv-3-mobile@1x.jpg" srcset="img/media/tv-3-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-1-mobile@1x.webp 1x, img/media/tv-1-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
                        <img src="img/media/tv-1-mobile@1x.jpg" srcset="img/media/tv-1-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-2-mobile@1x.webp 1x, img/media/tv-2-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.jpg 1x, img/media/tv-2-tablet@2x.jpg 2x">
                        <img src="img/media/tv-2-mobile@1x.jpg" srcset="img/media/tv-2-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                </ul>
                <div class="media__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="media__tabcontent tabs__tabcontent" data-tab-content="spec">
            <div class="media__marquee marquee">
              <div class="marquee__item">
                <picture>
                  <source width="111" height="144" type="image/webp" media="(min-width: 768px)" srcset="img/media/pervyi-tablet@1x.webp 1x, img/media/pervyi-tablet@2x.webp 2x">
                  <source width="60" height="77" type="image/webp" srcset="img/media/pervyi-mobile@1x.webp 1x, img/media/pervyi-mobile@2x.webp 2x">
                  <source width="111" height="144" type="image/png" media="(min-width: 768px)" srcset="img/media/pervyi-tablet@1x.png 1x, img/media/pervyi-tablet@2x.png 2x">
                  <img src="img/media/pervyi-mobile@1x.png" srcset="img/media/pervyi-mobile@2x.png 2x" width="60" height="77" alt="Логотип первого канала">
                </picture>
              </div>
              <div class="marquee__item">
                <picture>
                  <source width="262" height="70" type="image/webp" media="(min-width: 768px)" srcset="img/media/rbk-tablet@1x.webp 1x, img/media/rbk-tablet@2x.webp 2x">
                  <source width="141" height="38" type="image/webp" srcset="img/media/rbk-mobile@1x.webp 1x, img/media/rbk-mobile@2x.webp 2x">
                  <source width="262" height="70" type="image/png" media="(min-width: 768px)" srcset="img/media/rbk-tablet@1x.png 1x, img/media/rbk-tablet@2x.png 2x">
                  <img src="img/media/rbk-mobile@1x.png" srcset="img/media/rbk-mobile@2x.png 2x" width="141" height="38" alt="Логотип РБК">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="230" height="167" type="image/webp" media="(min-width: 768px)" srcset="img/media/ntv-tablet@1x.webp 1x, img/media/ntv-tablet@2x.webp 2x">
                  <source width="124" height="91" type="image/webp" srcset="img/media/ntv-mobile@1x.webp 1x, img/media/ntv-mobile@2x.webp 2x">
                  <source width="230" height="167" type="image/png" media="(min-width: 768px)" srcset="img/media/ntv-tablet@1x.png 1x, img/media/ntv-tablet@2x.png 2x">
                  <img src="img/media/ntv-mobile@1x.png" srcset="img/media/ntv-mobile@2x.png 2x" width="124" height="91" alt="Логотип НТВ">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="211" height="123" type="image/webp" media="(min-width: 768px)" srcset="img/media/m24-tablet@1x.webp 1x, img/media/m24-tablet@2x.webp 2x">
                  <source width="141" height="82" type="image/webp" srcset="img/media/m24-mobile@1x.webp 1x, img/media/m24-mobile@2x.webp 2x">
                  <source width="211" height="123" type="image/png" media="(min-width: 768px)" srcset="img/media/m24-tablet@1x.png 1x, img/media/m24-tablet@2x.png 2x">
                  <img src="img/media/m24-mobile@1x.png" srcset="img/media/m24-mobile@2x.png 2x" width="141" height="82" alt="Логотип М24">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="259" height="107" type="image/webp" media="(min-width: 768px)" srcset="img/media/doverie-tablet@1x.webp 1x, img/media/doverie-tablet@2x.webp 2x">
                  <source width="190" height="78" type="image/webp" srcset="img/media/doverie-mobile@1x.webp 1x, img/media/doverie-mobile@2x.webp 2x">
                  <source width="259" height="107" type="image/png" media="(min-width: 768px)" srcset="img/media/doverie-tablet@1x.png 1x, img/media/doverie-tablet@2x.png 2x">
                  <img src="img/media/doverie-mobile@1x.png" srcset="img/media/doverie-mobile@2x.png 2x" width="190" height="78" alt="Логотип Москва Доверие">
                </picture>
              </div>
            </div>
            <div class="media__swiper-container">
              <div class="media__swiper" data-swiper="navigation">
                <ul class="media__swiper-wrapper">
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-3-mobile@1x.webp 1x, img/media/tv-3-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.jpg 1x, img/media/tv-3-tablet@2x.jpg 2x">
                        <img src="img/media/tv-3-mobile@1x.jpg" srcset="img/media/tv-3-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-1-mobile@1x.webp 1x, img/media/tv-1-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
                        <img src="img/media/tv-1-mobile@1x.jpg" srcset="img/media/tv-1-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-2-mobile@1x.webp 1x, img/media/tv-2-mobile@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.jpg 1x, img/media/tv-2-tablet@2x.jpg 2x">
                        <img src="img/media/tv-2-mobile@1x.jpg" srcset="img/media/tv-2-mobile@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                </ul>
                <div class="media__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>