<section class="grid" data-align="grid">
  <div class="container">
    <div class="grid__wrapper">
      <h2 class="grid__title visually-hidden">От задач к результату</h2>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Кому подойдёт полное PR-сопровождение</h3>
        <p class="grid__text" data-align="text">Компаниям, брендам и&nbsp;экспертам, которые готовы выстраивать долгосрочную коммуникацию с&nbsp;медиа и&nbsp;аудиторией&nbsp;&mdash; не&nbsp;просто для охвата, а&nbsp;для устойчивой репутации.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Когда эта услуга особенно актуальна</h3>
        <p class="grid__text" data-align="text">Когда бренд выходит на&nbsp;новый рынок, активно растёт, расширяет линейку продуктов или хочет закрепить лидерство в&nbsp;своей нише.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Зачем бренду полное PR-сопровождение</h3>
        <p class="grid__text" data-align="text">Чтобы создать систему коммуникаций, где публикации, эфиры и&nbsp;коллаборации работают на&nbsp;одну цель&nbsp;&mdash; повышение узнаваемости, доверия и&nbsp;статуса.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Что делаем в&nbsp;рамках сопровождения</h3>
        <p class="grid__text" data-align="text">Разрабатываем PR-стратегию, формируем медиаплан, ведём коммуникации с&nbsp;редакциями, готовим материалы, отслеживаем результаты и&nbsp;корректируем направление.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Что вы получаете в&nbsp;итоге</h3>
        <p class="grid__text" data-align="text">Структурированный и&nbsp;предсказуемый пиар-процесс: стабильные публикации, рост упоминаний, доверие к&nbsp;бренду и&nbsp;эффект накопленного присутствия в&nbsp;медиа.</p>
      </div>
      <form class="grid__form" action="form.php" method="post">
        <fieldset class="grid__form-group">
          <legend class="grid__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="grid__form-list">
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваше имя</span>
                <input class="grid__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваш телефон</span>
                <input class="grid__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="grid__accept">
          <span class="grid__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="grid__form-button-container">
          <div class="grid__form-error-wrapper form-error-message">
            <p class="grid__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="grid__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        </div>
      </form>
    </div>
  </div>
</section>