<section class="hero">
  <div class="hero__img">
    <picture>
      <source width="1920" height="1080" type="image/webp" media="(min-width: 768px)" srcset="img/hero/positioning-tablet@1x.webp 1x, img/hero/positioning-tablet@2x.webp 2x">
      <source width="768" height="1080" type="image/webp" srcset="img/hero/positioning-mobile@1x.webp 1x, img/hero/positioning-mobile@2x.webp 2x">
      <source width="1920" height="1080" type="image/jpg" media="(min-width: 768px)" srcset="img/hero/positioning-tablet@1x.jpg 1x, img/hero/positioning-tablet@2x.jpg 2x">
      <img src="img/hero/positioning-mobile@1x.jpg" srcset="img/hero/positioning-mobile@2x.jpg 2x" width="768" height="1080" alt="Логотип РБК">
    </picture>
  </div>
  <div class="hero__wrapper hero__wrapper--secondary">
    <div class="hero__content">
      <h1 class="hero__slogan">Позиционирование: фундамент, <br>на&nbsp;котором строится пиар</h1>
      <p class="hero__text">Без чёткой идеи пиар превращается в&nbsp;хаос. Мы&nbsp;помогаем найти и&nbsp;закрепить ту&nbsp;основу, которая будет вести коммуникации вперёд</p>
      <button class="hero__button button button--light" type="button" aria-label="Открыть форму" data-modal-button="questions">Заполнить бриф +</button>
    </div>
  </div>
</section>