<section class="grid" data-align="grid">
  <div class="container">
    <div class="grid__wrapper">
      <h2 class="grid__title visually-hidden">От задач к результату</h2>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Кому подойдёт формат эфиров</h3>
        <p class="grid__text" data-align="text">Тем, кто готов выходить за&nbsp;пределы digital-пространства: экспертам, руководителям, представителям брендов и&nbsp;компаний, которым важно закрепить свой статус в&nbsp;публичном поле.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Когда телевидение и радио особенно уместны</h3>
        <p class="grid__text" data-align="text">Когда бренд хочет выйти на&nbsp;новую аудиторию, заявить о&nbsp;себе как о&nbsp;лидере мнений или поддержать значимый инфоповод: запуск продукта, событие, масштабный проект.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Зачем нужны эфиры</h3>
        <p class="grid__text" data-align="text">Эфиры повышают узнаваемость и&nbsp;формируют доверие к&nbsp;имиджу. Медийное присутствие укрепляет репутацию и&nbsp;выделяет на&nbsp;фоне конкурентов.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Как мы&nbsp;выстраиваем работу с&nbsp;эфиром</h3>
        <p class="grid__text" data-align="text">Подбираем площадки и&nbsp;форматы, готовим спикеров, формируем тезисы и&nbsp;сопровождаем процесс от&nbsp;приглашения до&nbsp;выхода программы.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Что вы получаете в&nbsp;итоге</h3>
        <p class="grid__text" data-align="text">Участие в&nbsp;рейтинговых программах, создание качественного контента для социальных сетей, укрепление экспертного статуса и&nbsp;повышение узнаваемости в&nbsp;медиапространстве.</p>
      </div>
      <form class="grid__form" action="form.php" method="post">
        <fieldset class="grid__form-group">
          <legend class="grid__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="grid__form-list">
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваше имя</span>
                <input class="grid__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваш телефон</span>
                <input class="grid__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="grid__accept">
          <span class="grid__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="grid__form-button-container">
          <div class="grid__form-error-wrapper form-error-message">
            <p class="grid__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="grid__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        </div>
      </form>
    </div>
  </div>
</section>