<section class="grid" data-align="grid">
  <div class="container">
    <div class="grid__wrapper">
      <h2 class="grid__title visually-hidden">От задач к результату</h2>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Кому подойдёт этот формат</h3>
        <p class="grid__text" data-align="text">Брендам, экспертам и&nbsp;компаниям, которые хотят выйти за&nbsp;пределы стандартных публикаций и&nbsp;показать себя через взаимодействие с&nbsp;другими сильными игроками.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Когда коллаборации работают лучше всего</h3>
        <p class="grid__text" data-align="text">Когда бренд выходит в&nbsp;новую нишу, запускает продукт, ищет свежие каналы коммуникации или хочет укрепить имидж за&nbsp;счёт партнёра.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Зачем бренду коллаборации и партнёрства</h3>
        <p class="grid__text" data-align="text">Чтобы объединить аудитории, расширить охват и&nbsp;повысить доверие за&nbsp;счёт ассоциации с&nbsp;другими узнаваемыми именами.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Что мы делаем</h3>
        <p class="grid__text" data-align="text">Подбираем релевантных партнёров, разрабатываем идею проекта, формируем медиаплан и&nbsp;сопровождаем реализацию&nbsp;&mdash; от&nbsp;первых переговоров до&nbsp;публикаций.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Что вы получаете в&nbsp;итоге</h3>
        <p class="grid__text" data-align="text">Партнёрские проекты, которые не&nbsp;выглядят как реклама, а&nbsp;как интересный контент. Результат&nbsp;&mdash; внимание аудитории, рост узнаваемости и&nbsp;укрепление репутации бренда.</p>
      </div>
      <form class="grid__form" action="form.php" method="post">
        <fieldset class="grid__form-group">
          <legend class="grid__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="grid__form-list">
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваше имя</span>
                <input class="grid__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваш телефон</span>
                <input class="grid__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="grid__accept">
          <span class="grid__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="grid__form-button-container">
          <div class="grid__form-error-wrapper form-error-message">
            <p class="grid__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="grid__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        </div>
      </form>
    </div>
  </div>
</section>