<section class="blog">
  <div class="container">
    <h2 class="blog__title title">Как мы реализуем пиар через публикации в&nbsp;СМИ</h2>
    <div class="blog__swiper-container">
      <div class="blog__swiper" data-swiper="navigation">
        <ul class="blog__swiper-wrapper">
          <li class="blog__slide">
            <a class="blog__card" href="#">
              <p class="blog__name">Статья на&nbsp;HELLO</p>
              <div class="blog__img">
                <picture>
                  <source width="425" height="415" type="image/webp" media="(min-width: 768px)" srcset="img/articles/1-tablet@1x.webp 1x, img/articles/1-tablet@2x.webp 2x">
                  <source width="335" height="416" type="image/webp" srcset="img/articles/1-mobile@1x.webp 1x, img/articles/1-mobile@2x.webp 2x">
                  <source width="425" height="415" type="image/jpg" media="(min-width: 768px)" srcset="img/articles/1-tablet@1x.jpg 1x, img/articles/1-tablet@2x.jpg 2x">
                  <img src="img/articles/1-mobile@1x.jpg" srcset="img/articles/1-mobile@2x.jpg 2x" width="335" height="416" alt="Логотип компании">
                </picture>
              </div>
            </a>
          </li>
          <li class="blog__slide">
            <a class="blog__card" href="#">
              <p class="blog__name">Статья на&nbsp;Forbes</p>
              <div class="blog__img">
                <picture>
                  <source width="425" height="415" type="image/webp" media="(min-width: 768px)" srcset="img/articles/2-tablet@1x.webp 1x, img/articles/2-tablet@2x.webp 2x">
                  <source width="335" height="416" type="image/webp" srcset="img/articles/1-mobile@1x.webp 1x, img/articles/1-mobile@2x.webp 2x">
                  <source width="425" height="415" type="image/jpg" media="(min-width: 768px)" srcset="img/articles/2-tablet@1x.jpg 1x, img/articles/2-tablet@2x.jpg 2x">
                  <img src="img/articles/1-mobile@1x.jpg" srcset="img/articles/1-mobile@2x.jpg 2x" width="335" height="416" alt="Логотип компании">
                </picture>
              </div>
            </a>
          </li>
        </ul>
        <div class="blog__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>