<section class="stages">
  <div class="container">
    <div class="stages__header" data-animation="decor-line">
      <h2 class="stages__title title title--light">Инструменты, с&nbsp;помощью которых мы&nbsp;формируем позиционирование</h2>
    </div>
    <div class="stages__swiper-container">
      <div class="stages__swiper" data-swiper="navigation">
        <ul class="stages__swiper-wrapper">
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Совместные медиа-активации</p>
              <p class="stages__text">Публикации, дайджесты и&nbsp;экспертные статьи в&nbsp;СМИ, где бренд или эксперт совместно с&nbsp;компанией формируют информационный повод.</p>
            </div>
          </li>
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Коллаборации с&nbsp;инфлюенсерами и&nbsp;лидерами мнений</p>
              <p class="stages__text">Работа с&nbsp;блогерами и&nbsp;медийными личностями, чьи ценности совпадают с&nbsp;брендом, чтобы сделать продвижение более аутентичным.</p>
            </div>
          </li>
          <li class="stages__slide">
            <div class="stages__card stages__card--simple">
              <p class="stages__subtitle">Совместные медиа-активации</p>
              <p class="stages__text">Публикации, дайджесты и&nbsp;экспертные статьи в&nbsp;СМИ, где бренд или эксперт совместно с&nbsp;компанией формируют информационный повод.</p>
            </div>
          </li>
        </ul>
        <div class="stages__swiper-button-container hidden">
          <button class="button-swiper button-swiper--light button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--light button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
      <button class="stages__link button button--light-to-accent" type="button" aria-label="Открыть форму обратной связи" data-modal-button="price">Получить план и медиалист&nbsp;+</button>
    </div>
  </div>
</section>