<section class="grid" data-align="grid">
  <div class="container">
    <div class="grid__wrapper">
      <h2 class="grid__title visually-hidden">От задач к результату</h2>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Кому подойдёт этот формат</h3>
        <p class="grid__text" data-align="text">Тем, кто готов говорить с&nbsp;аудиторией от&nbsp;первого лица: экспертам, брендам, предпринимателям и&nbsp;компаниям, которым важно не&nbsp;просто продавать, а&nbsp;выстраивать доверие через медиа.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Когда публикации действительно работают</h3>
        <p class="grid__text" data-align="text">Когда бизнес или личный бренд выходит на&nbsp;новый этап&nbsp;&mdash; запуск продукта, расширение аудитории, укрепление репутации или формирование экспертного статуса.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Зачем бренду быть в&nbsp;медиа</h3>
        <p class="grid__text" data-align="text">Публикации создают не&nbsp;только охват, но&nbsp;и&nbsp;социальное доказательство. Люди чаще доверяют тем, о&nbsp;ком пишут независимые источники, а&nbsp;не&nbsp;рекламные баннеры.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Как проходит работа над&nbsp;публикациями</h3>
        <p class="grid__text" data-align="text">Мы&nbsp;проводим тщательный анализ целей, подбираем наиболее подходящие площадки, разрабатываем актуальные темы и&nbsp;взаимодействуем с&nbsp;редакциями на&nbsp;всех этапах&nbsp;&mdash; вплоть до&nbsp;публикации материала</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Что вы получаете в&nbsp;итоге</h3>
        <p class="grid__text" data-align="text">Упоминания в&nbsp;авторитетных медиа, рост доверия к&nbsp;бренду и&nbsp;ощущение: &laquo;О&nbsp;нас говорят&nbsp;&mdash; и&nbsp;говорят правильно&raquo;.</p>
      </div>
      <form class="grid__form" action="form.php" method="post">
        <fieldset class="grid__form-group">
          <legend class="grid__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="grid__form-list">
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваше имя</span>
                <input class="grid__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваш телефон</span>
                <input class="grid__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="grid__accept">
          <span class="grid__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="grid__form-button-container">
          <div class="grid__form-error-wrapper form-error-message">
            <p class="grid__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="grid__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        </div>
      </form>
    </div>
  </div>
</section>