<section class="media">
  <div class="container">
    <h2 class="media__title title">Форматы и площадки, с&nbsp;которыми мы&nbsp;работаем <br>в&nbsp;рамках PR&#8288;-&#8288;публикаций</h2>
    <div class="media__wrapper">
      <div class="media__tabs media__tabs--wide tabs tabs--autoplay">
        <div class="media__tabs-wrapper">
          <ul class="media__tablinks tabs__tablinks accordion" data-accordion="single">
            <li class="media__tablinks-item">
              <button class="media__tablink tabs__tablink tabs__tablink--active accordion-button accordion-button--active" data-tab="journal" type="button">Информагентства и газеты</button>
              <div class="media__description accordion-content accordion-content--opened">
                <p>Это каналы, через которые формируется официальная и&nbsp;деловая повестка вокруг бренда. Публикации в&nbsp;таких медиа помогают закрепить экспертность, усилить доверие со&nbsp;стороны аудитории и&nbsp;сделать компанию частью новостного и&nbsp;профессионального поля.</p>
              </div>
            </li>
            <li class="media__tablinks-item">
              <button class="media__tablink tabs__tablink accordion-button" data-tab="web" type="button">Интернет-издания</button>
              <div class="media__description accordion-content">
                <p>Это быстрый и&nbsp;гибкий формат публикаций, который позволяет бренду оперативно выходить в&nbsp;медиаполе, усиливать узнаваемость и&nbsp;работать с&nbsp;разными сегментами аудитории. Онлайн-СМИ дают широкий охват и&nbsp;возможность закрепиться в&nbsp;актуальной повестке через статьи, интервью и&nbsp;экспертные комментарии.</p>
              </div>
            </li>
          </ul>
          <a class="media__link-more" href="#">И&nbsp;другие</a>
        </div>
        <div class="media__tabcontents tabs__tabcontents">
          <div class="media__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="journal">
            <div class="media__marquee marquee">
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="246" height="47" type="image/webp" srcset="img/media/vedomosti-tablet@1x.webp 1x, img/media/vedomosti-tablet@2x.webp 2x">
                  <img src="img/media/vedomosti-tablet@1x.png" srcset="img/media/vedomosti-tablet@2x.png 2x" width="246" height="47" alt="Логотип Ведомости">
                </picture>
              </div>
              <div class="marquee__item">
                <picture>
                  <source width="241" height="94" type="image/webp" srcset="img/media/ros-gazeta-tablet@1x.webp 1x, img/media/ros-gazeta-tablet@2x.webp 2x">
                  <img src="img/media/ros-gazeta-tablet@1x.png" srcset="img/media/ros-gazeta-tablet@2x.png 2x" width="241" height="94" alt="Логотип Российская газета">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="249" height="73" type="image/webp" srcset="img/media/izvestia-tablet@1x.webp 1x, img/media/izvestia-tablet@2x.webp 2x">
                  <img src="img/media/izvestia-tablet@1x.png" srcset="img/media/izvestia-tablet@2x.png 2x" width="249" height="73" alt="Логотип Известия">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="473" height="66" type="image/webp" srcset="img/media/kommersant-tablet@1x.webp 1x, img/media/kommersant-tablet@2x.webp 2x">
                  <img src="img/media/kommersant-tablet@1x.png" srcset="img/media/kommersant-tablet@2x.png 2x" width="473" height="66" alt="Логотип Коммерсантъ">
                </picture>
              </div>
            </div>
            <div class="media__swiper-container">
              <div class="media__swiper" data-swiper="navigation">
                <ul class="media__swiper-wrapper">
                  <li class="media__slide">
                    <div class="media__img video">
                      <div class="video__img">
                        <picture>
                          <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
                          <source width="369" height="492" type="image/webp" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
                          <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
                          <img src="img/media/tv-1-tablet@1x.jpg" srcset="img/media/tv-1-tablet@2x.jpg 2x" width="369" height="492" alt="">
                        </picture>
                      </div>
                      <div class="video__player">
                        <!-- <video src="img/video/our-production.mp4" loop></video> -->
                      </div>
                      <button class="video__button-play" type="button">
                        <span class="visually-hidden">Начать воспроизведение видео.</span>
                      </button>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.jpg 1x, img/media/tv-2-tablet@2x.jpg 2x">
                        <img src="img/media/tv-2-tablet@1x.jpg" srcset="img/media/tv-2-tablet@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.jpg 1x, img/media/tv-3-tablet@2x.jpg 2x">
                        <img src="img/media/tv-3-tablet@1x.jpg" srcset="img/media/tv-3-tablet@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                </ul>
                <div class="media__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="media__tabcontent tabs__tabcontent" data-tab-content="web">
            <div class="media__marquee marquee">
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="246" height="47" type="image/webp" srcset="img/media/vedomosti-tablet@1x.webp 1x, img/media/vedomosti-tablet@2x.webp 2x">
                  <img src="img/media/vedomosti-tablet@1x.png" srcset="img/media/vedomosti-tablet@2x.png 2x" width="246" height="47" alt="Логотип Ведомости">
                </picture>
              </div>
              <div class="marquee__item">
                <picture>
                  <source width="241" height="94" type="image/webp" srcset="img/media/ros-gazeta-tablet@1x.webp 1x, img/media/ros-gazeta-tablet@2x.webp 2x">
                  <img src="img/media/ros-gazeta-tablet@1x.png" srcset="img/media/ros-gazeta-tablet@2x.png 2x" width="241" height="94" alt="Логотип Российская газета">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="249" height="73" type="image/webp" srcset="img/media/izvestia-tablet@1x.webp 1x, img/media/izvestia-tablet@2x.webp 2x">
                  <img src="img/media/izvestia-tablet@1x.png" srcset="img/media/izvestia-tablet@2x.png 2x" width="249" height="73" alt="Логотип Известия">
                </picture>
              </div>
              <div class="marquee__item marquee__item--opacity">
                <picture>
                  <source width="473" height="66" type="image/webp" srcset="img/media/kommersant-tablet@1x.webp 1x, img/media/kommersant-tablet@2x.webp 2x">
                  <img src="img/media/kommersant-tablet@1x.png" srcset="img/media/kommersant-tablet@2x.png 2x" width="473" height="66" alt="Логотип Коммерсантъ">
                </picture>
              </div>
            </div>
            <div class="media__swiper-container">
              <div class="media__swiper" data-swiper="navigation">
                <ul class="media__swiper-wrapper">
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-2-tablet@1x.webp 1x, img/media/tv-2-tablet@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-2-tablet@1x.jpg 1x, img/media/tv-2-tablet@2x.jpg 2x">
                        <img src="img/media/tv-2-tablet@1x.jpg" srcset="img/media/tv-2-tablet@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-1-tablet@1x.webp 1x, img/media/tv-1-tablet@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-1-tablet@1x.jpg 1x, img/media/tv-1-tablet@2x.jpg 2x">
                        <img src="img/media/tv-1-tablet@1x.jpg" srcset="img/media/tv-1-tablet@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                  <li class="media__slide">
                    <div class="media__img">
                      <picture>
                        <source width="475" height="604" type="image/webp" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
                        <source width="369" height="492" type="image/webp" srcset="img/media/tv-3-tablet@1x.webp 1x, img/media/tv-3-tablet@2x.webp 2x">
                        <source width="475" height="604" type="image/jpg" media="(min-width: 768px)" srcset="img/media/tv-3-tablet@1x.jpg 1x, img/media/tv-3-tablet@2x.jpg 2x">
                        <img src="img/media/tv-3-tablet@1x.jpg" srcset="img/media/tv-3-tablet@2x.jpg 2x" width="369" height="492" alt="">
                      </picture>
                    </div>
                  </li>
                </ul>
                <div class="media__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>