<section class="order-list">
  <div class="container">
    <div class="order-list__header">
      <h2 class="order-list__title title">Этапность коллабораций: шаг за&nbsp;шагом</h2>
    </div>
    <ul class="order-list__list">
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Диагностика и постановка целей</p>
        <p class="order-list__text">Определяем задачи клиента: зачем нужна коллаборация&nbsp;&mdash; расширить охват, укрепить имидж, привлечь новую аудиторию или выйти в&nbsp;нишевые сегменты.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Подбор партнёров</p>
        <p class="order-list__text">Ищем бренды, медиа или лидеров мнений, чьи ценности и&nbsp;аудитория совпадают с&nbsp;задачами клиента. Важно, чтобы партнёрство выглядело органично.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Разработка формата</p>
        <p class="order-list__text">Определяем, как будет выглядеть проект: спецпроект в&nbsp;медиа, совместный подкаст, офлайн-мероприятие или кросс-промо в&nbsp;соцсетях.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Реализация проекта</p>
        <p class="order-list__text">Координируем все стороны: готовим контент, согласовываем с&nbsp;партнёрами, контролируем сроки и&nbsp;запуск активности.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Аналитика и отчётность</p>
        <p class="order-list__text">Подводим итоги: оцениваем охваты, вовлечённость, реакцию аудитории. Смотрим, как коллаборация повлияла на&nbsp;узнаваемость и&nbsp;имидж бренда.</p>
      </li>
    </ul>
    <button class="order-list__link button button--dark" type="button" aria-label="Открыть форму обратной связи" data-modal-button="price">Получить консультацию&nbsp;+</button>
  </div>
</section>