@use "index" as *;

.button-swiper {
  --color-arrow: var(--accent);
  --border-color: var(--grey-transparent);

  position: relative;
  display: block;
  width: 76px;
  height: 50px;
  padding: 0;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  background-color: var(--transparent);
  transition: border 0.3s;
  border-radius: 80px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    mask-image: url("../img/sprite.svg#button-swiper");
    mask-position: center;
    mask-size: 30px 22px;
    mask-repeat: no-repeat;
    background-color: var(--color-arrow);
    transform: rotate(180deg);
    transition: background-color 0.3s;
  }

  @include hover-focus {
    --border-color: var(--accent);

    outline: none;
  }

  @include active {
    --border-color: var(--text-basic);
  }

  @include disabled {
    --color-arrow: var(--grey-transparent);

    cursor: default;
    pointer-events: none;
  }

  &--next {
    transform: rotate(180deg);
  }

  &--light {
    --color-arrow: var(--white);
    --border-color: var(--white);

    @include hover-focus {
      --border-color: var(--text-grey);
      --color-arrow: var(--text-grey);
    }

    @include active {
      --border-color: var(--accent);
      --color-arrow: var(--accent);
    }
  }
}