@use "interactive-states" as *;

@mixin social-link {
  @include interactive-opacity;
  
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  background-color: var(--bg-light);

  &--big {
    width: 58px;
    height: 58px;
  }

  &--tg {
    --icon: url("../img/sprite.svg#tg");
  }

  &--wa {
    --icon: url("../img/sprite.svg#wa");
  }

  &--vk {
    --icon: url("../img/sprite.svg#vk");
  }

  &--youtube {
    --icon: url("../img/sprite.svg#youtube");
  }

  &--max {
    --icon: url("../img/sprite.svg#max");
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: var(--icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@mixin link-more {
  display: block;
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
  transition: opacity 0.3s;

  @include hover-focus {
    outline: none;
    opacity: 0.4;
  }

  @include active {
    opacity: 0.3;
  }
}
