@use "index" as *;

.about-content {
  padding: 40px 0;

  @include vp-1024 {
    padding: 44px 0 65px;
  }
}

.about-content__wrapper {
  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 10px;
  }

  @include vp-1024 {
    gap: 0 20px;
  }
}

.about-content__title {
  @include vp-768 {
    font-size: 50px;
  }

  @include vp-1024 {
    font-size: 60px;
  }

  @include vp-1366 {
    font-size: 80px;
  }

  @include vp-1640 {
    font-size: 100px;
  }

  @include vp-1920 {
    font-size: 110px;
  }
}

.about-content__img {
  position: relative;
  width: 100%;
  height: 492px;
  margin: 0 0 20px;

  @include vp-768 {
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
  }

  img {
    @include img-bg;
  }
}

.about-content__text {
  @include vp-1366 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 25px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;

    @include vp-1366 {
      font-size: 16px;
    }

    @include vp-1640 {
      font-size: 18px;
    }
  }

  p+p {
    margin-top: 15px;

    @include vp-1366 {
      margin: 0;
    }
  }
}