@use "index" as *;

.order-list {
  padding: 40px 0 60px;
}

.order-list__header {
  margin: 0 0 20px;

  @include vp-768 {
    display: grid;
    grid-template-columns: 25px 9fr 8fr;
    gap: 20px;
    align-items: end;
  }

  @include vp-1366 {
    grid-template-columns: 1fr 3fr 3fr;
    gap: 40px;
  }

  @include vp-1640 {
    grid-template-columns: 2fr 3fr 3fr;
  }
}

.order-list__header>*:only-child {
  grid-column: 1 / -1;

  @include vp-1640 {
    grid-column: 1 / 3;
  }
}

.order-list__title {
  @include vp-768 {
    grid-column: 1 / 3;
    margin: 0;
  }

  br {
    @include vp-1024 {
      display: block;
    }
  }
}

.order-list__header-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;

  @include vp-1366 {
    max-width: 460px;
    font-size: 18px;
    line-height: 1.4;
  }
}

.order-list__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: order-list;
}

.order-list__item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px 20px;
  padding: 20px 0;

  @include vp-768 {
    display: grid;
    grid-template-columns: 25px 9fr 8fr;
    gap: 20px;
  }

  @include vp-1366 {
    grid-template-columns: 1fr 3fr 3fr;
    gap: 40px;
    padding: 20px 0 40px;
  }

  @include vp-1640 {
    grid-template-columns: 2fr 3fr 3fr;
  }

  &::before {
    grid-area: 1 / 1 / 2 / 2;
    counter-increment: order-list;
    content: counter(order-list, decimal-leading-zero);
    font-weight: 400;
    font-size: 18px;
    color: var(--accent);
  }

  &::after {
    background-color: var(--grey-light);
  }
}

.order-list__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 0.9;
  text-align: right;

  @include vp-768 {
    text-align: left;
  }

  @include vp-1366 {
    font-size: 30px;
  }

  @include vp-1640 {
    font-size: 35px;
  }
}

.order-list__text {
  grid-column: 1 / 3;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  @include vp-768 {
    grid-column: unset;
  }

  @include vp-1366 {
    font-size: 18px;
    line-height: 1.4;
  }
}