<section class="blog-preview">
  <div class="container">
    <h2 class="blog-preview__title title">Наши публикации</h2>
    <div class="blog-preview__swiper-container">
      <div class="blog-preview__swiper" data-swiper="navigation">
        <ul class="blog-preview__swiper-wrapper">
          <li class="blog-preview__slide">
            <div class="blog-preview__card">
              <p class="blog-preview__name">Для чего нужны коллаборации</p>
              <div class="blog-preview__img">
                <img src="img/test.jpg">
              </div>
              <div class="blog-preview__bottom">
                <p class="blog-preview__category">Коллаборации</p>
                <p class="blog-preview__date">Дата</p>
              </div>
            </div>
          </li>
          <li class="blog-preview__slide">
            <div class="blog-preview__card">
              <p class="blog-preview__name">Как выйти в&nbsp;топ</p>
              <div class="blog-preview__img">
                <img src="img/test.jpg">
              </div>
              <div class="blog-preview__bottom">
                <p class="blog-preview__category">Полезное</p>
                <p class="blog-preview__date">Дата</p>
              </div>
            </div>
          </li>
          <li class="blog-preview__slide">
            <div class="blog-preview__card">
              <p class="blog-preview__name">Как влияют подкасты на&nbsp;пиар</p>
              <div class="blog-preview__img">
                <img src="img/test.jpg">
              </div>
              <div class="blog-preview__bottom">
                <p class="blog-preview__category">Подкасты</p>
                <p class="blog-preview__date">Дата</p>
              </div>
            </div>
          </li>
          <li class="blog-preview__slide">
            <div class="blog-preview__card">
              <p class="blog-preview__name">Как попасть на&nbsp;ТВ через пиар</p>
              <div class="blog-preview__img">
                <img src="img/test.jpg">
              </div>
              <div class="blog-preview__bottom">
                <p class="blog-preview__category">ТВ</p>
                <p class="blog-preview__date">Дата</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="blog-preview__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>