<section class="callback">
  <div class="callback__wrapper">
    <div class="callback__title-wrapper">
      <div class="callback__img">
        <img src="img/test.jpg">
      </div>
      <h2 class="callback__title title title--big title--light">Где вы сможете выйти&nbsp;? <br>И&nbsp;какой будет эффект&nbsp;?</h2>
    </div>
    <div class="callback__content">
      <div class="callback__logo">
        <p class="callback__logo-text">PR&#8288;-&#8288;агентство</p>
        <img src="img/logo-vertical.svg" alt="Логотип pr-агентства Хорошее начало.">
      </div>
      <form class="callback__form" action="form.php" method="post">
        <fieldset class="callback__form-group">
          <legend class="callback__form-title">Пожалуйста, заполните форму, представленную ниже. Мы&nbsp;обязательно свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;обсудим все детали лично.</legend>
          <ul class="callback__form-list">
            <li class="callback__form-item">
              <label class="callback__field">
                <span class="callback__label">Ваше имя</span>
                <input class="callback__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="callback__form-item">
              <label class="callback__field">
                <span class="callback__label">Ваш телефон</span>
                <input class="callback__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="callback__accept">
          <span class="callback__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <button class="callback__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        <div class="callback__form-error-wrapper form-error-message">
          <p class="callback__form-error hidden"></p>
        </div>
      </form>
    </div>
  </div>
</section>