<section class="callback">
  <div class="callback__wrapper">
    <div class="callback__title-wrapper">
      <div class="callback__img">
        <picture>
          <source width="949" height="1260" type="image/webp" media="(min-width: 768px)" srcset="img/form/1-tablet@1x.webp 1x, img/form/1-tablet@2x.webp 2x">
          <source width="400" height="531" type="image/webp" srcset="img/form/1-mobile@1x.webp 1x, img/form/1-mobile@2x.webp 2x">
          <source width="949" height="1260" type="image/jpg" media="(min-width: 768px)" srcset="img/form/1-tablet@1x.jpg 1x, img/form/1-tablet@2x.jpg 2x">
          <img src="img/form/1-mobile@1x.jpg" srcset="img/form/1-mobile@2x.jpg 2x" width="400" height="531" alt="Логотип компании">
        </picture>
      </div>
      <h2 class="callback__title title title--big title--light">Где вы сможете выйти&nbsp;? <br>И&nbsp;какой будет эффект&nbsp;?</h2>
    </div>
    <div class="callback__content">
      <div class="callback__logo">
        <p class="callback__logo-text">PR&#8288;-&#8288;агентство</p>
        <img src="img/logo-vertical.svg" alt="Логотип pr-агентства Хорошее начало.">
      </div>
      <form class="callback__form" action="form.php" method="post">
        <fieldset class="callback__form-group">
          <legend class="callback__form-title">Пожалуйста, заполните форму, представленную ниже. Мы&nbsp;обязательно свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;обсудим все детали лично.</legend>
          <ul class="callback__form-list">
            <li class="callback__form-item">
              <label class="callback__field">
                <span class="callback__label">Ваше имя</span>
                <input class="callback__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="callback__form-item">
              <label class="callback__field">
                <span class="callback__label">Ваш телефон</span>
                <input class="callback__input" type="tel" name="phone" placeholder="телефон" required>
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="callback__accept">
          <span class="callback__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="callback__form-button-container">
          <div class="callback__form-error-wrapper form-error-message">
            <p class="callback__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="callback__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        </div>
      </form>
    </div>
  </div>
</section>