<section class="clients">
  <div class="container">
    <div class="clients__wrapper">
      <h2 class="clients__title title title--light">Пиар работает для всех по-разному: эксперту даёт статус, бренду&nbsp;&mdash; охват, компании&nbsp;&mdash; доверие, блогеру&nbsp;&mdash; легитимность вне соцсетей</h2>
      <div class="clients__card" data-animation>
        <h3 class="clients__subtitle">Эксперты</h3>
        <p class="clients__text">Люди, которые делятся знаниями и&nbsp;мнениями в&nbsp;своей сфере. Им&nbsp;важно формировать образ лидера мнений, подтверждать экспертность публикациями, интервью и&nbsp;выступлениями.</p>
      </div>
      <div class="clients__card" data-animation>
        <h3 class="clients__subtitle">Бренды</h3>
        <p class="clients__text">Компании, которые развивают продукты или услуги на&nbsp;рынке и&nbsp;хотят укрепить имидж, увеличить узнаваемость, появляться в&nbsp;подборках и&nbsp;обзорах в&nbsp;СМИ, работать через коллаборации.</p>
      </div>
      <div class="clients__card" data-animation>
        <h3 class="clients__subtitle">Блогеры</h3>
        <p class="clients__text">Авторы с&nbsp;собственной аудиторией в&nbsp;соцсетях, которым важно выходить за&nbsp;пределы digital-площадок, закрепляться в&nbsp;классических медиа и&nbsp;усиливать доверие к&nbsp;своему имени.</p>
      </div>
      <div class="clients__card" data-animation>
        <h3 class="clients__subtitle">Компании</h3>
        <p class="clients__text">Бизнесы разных масштабов&nbsp;&mdash; от&nbsp;малого до&nbsp;крупного. Их&nbsp;цель&nbsp;&mdash; репутация и&nbsp;доверие в&nbsp;глазах клиентов и&nbsp;партнёров, формирование имиджа стабильности и&nbsp;значимости через публикации и&nbsp;упоминания в&nbsp;медиа.</p>
      </div>
      <div class="clients__card" data-animation>
        <h3 class="clients__subtitle">Предприниматели</h3>
        <p class="clients__text">Основатели и&nbsp;владельцы бизнеса, которые запускают новые проекты или развивают действующие. Для них важен быстрый старт в&nbsp;медиа, упоминания при выходе на&nbsp;рынок или привлечение внимания инвесторов.</p>
      </div>
      <form class="clients__form" action="form.php" method="post">
        <fieldset class="clients__form-group">
          <legend class="clients__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="clients__form-list">
            <li class="clients__form-item">
              <label class="clients__field">
                <span class="clients__label">Ваше имя</span>
                <input class="clients__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="clients__form-item">
              <label class="clients__field">
                <span class="clients__label">Ваш телефон</span>
                <input class="clients__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="clients__accept">
          <span class="clients__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <button class="clients__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        <div class="clients__form-error-wrapper form-error-message">
          <p class="clients__form-error hidden"></p>
        </div>
      </form>
    </div>
  </div>
</section>