<section class="order-list">
  <div class="container">
    <div class="order-list__header">
      <h2 class="order-list__title title title--big">Почему нас выбирают эксперты, <br>бренды и компании</h2>
      <p class="order-list__header-text">Мы&nbsp;понимаем, что у&nbsp;каждого сегмента своя логика в&nbsp;медиа, поэтому выстраиваем пиар-стратегию с&nbsp;учётом этих особенностей</p>
    </div>
    <ul class="order-list__list">
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Опыт, накопленный годами</p>
        <p class="order-list__text">Все наши сотрудники имеют более 15&nbsp;лет опыта работы в&nbsp;сфере PR. Мы&nbsp;отлично понимаем внутреннюю структуру редакций и&nbsp;знаем, какие материалы действительно вызывают интерес у&nbsp;журналистов. Благодаря этому опыту мы&nbsp;оперативно определяем эффективные форматы взаимодействия, избегая длительных этапов проб и&nbsp;ошибок</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Выстроенные связи с&nbsp;медиа и&nbsp;блогерами</p>
        <p class="order-list__text">За&nbsp;годы сотрудничества мы&nbsp;наладили прямой контакт с&nbsp;редакторами и&nbsp;продюсерами ведущих СМИ, телеканалов и&nbsp;подкастов. Благодаря этому процесс согласования и&nbsp;выхода публикаций проходит быстрее и&nbsp;спокойнее.Кроме того, у&nbsp;нас выстроены доверительные отношения с&nbsp;популярными блогерами и&nbsp;создателями контента</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Фокус на реальной ценности для клиента</p>
        <p class="order-list__text">Мы&nbsp;не&nbsp;ограничиваемся количеством публикаций. Для нас важно, чтобы каждая активность приносила измеримый результат: узнаваемость, доверие, новые приглашения на&nbsp;мероприятия или рост интереса к&nbsp;продукту.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Комплексный подход к&nbsp;PR</p>
        <p class="order-list__text">Мы&nbsp;объединяем разные каналы коммуникации: печатные и&nbsp;онлайн-СМИ, телевидение, радио, подкасты, коллаборации. Такой подход помогает брендам и&nbsp;экспертам формировать единое, последовательное присутствие в&nbsp;медиаполе.</p>
      </li>
      <li class="order-list__item" data-animation="decor-line">
        <p class="order-list__subtitle">Понятные процессы и сроки</p>
        <p class="order-list__text">Каждый проект строится по&nbsp;прозрачной схеме: от&nbsp;брифа и&nbsp;медиаплана до&nbsp;публикации и&nbsp;отчёта. У&nbsp;клиента всегда есть понимание, на&nbsp;каком этапе мы&nbsp;находимся и&nbsp;каких результатов можно ожидать.</p>
      </li>
    </ul>
  </div>
</section>