<footer class="footer">
  <div class="footer__img">
    <picture>
      <source width="262" height="70" type="image/webp" media="(min-width: 768px)" srcset="img/footer/footer-tablet@1x.webp 1x, img/footer/footer-tablet@2x.webp 2x">
      <source width="141" height="38" type="image/webp" srcset="img/footer/footer-mobile@1x.webp 1x, img/footer/footer-mobile@2x.webp 2x">
      <source width="262" height="70" type="image/jpg" media="(min-width: 768px)" srcset="img/footer/footer-tablet@1x.jpg 1x, img/footer/footer-tablet@2x.jpg 2x">
      <img src="img/footer/footer-mobile@1x.jpg" srcset="img/footer/footer-mobile@2x.jpg 2x" width="141" height="38" alt="Логотип РБК">
    </picture>
  </div>
  <div class="container">
    <div class="footer__top">
      <section class="footer__contacts">
        <h2 class="footer__contacts-title title">Контакты</h2>
        <a class="footer__mail" href="mailto:kristina@rodnova.com">kristina@rodnova.com</a>
        <div class="footer__contacts-group">
          <p class="footer__city">г.&nbsp;Москва</p>
          <a class="footer__tel" href="tel:+79035145040">+7&nbsp;903&nbsp;514&nbsp;50&nbsp;40</a>
        </div>
      </section>
      <form class="footer__form" action="form.php" method="post">
        <fieldset class="footer__form-group">
          <legend class="footer__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="footer__form-list">
            <li class="footer__form-item">
              <label class="footer__field">
                <span class="footer__label">Ваше имя</span>
                <input class="footer__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="footer__form-item">
              <label class="footer__field">
                <span class="footer__label">Ваш телефон</span>
                <input class="footer__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="footer__accept">
          <span class="footer__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="footer__form-button-container">
          <div class="footer__form-error-wrapper form-error-message">
            <p class="footer__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="footer__form-button button button--light" type="submit">Отправить +</button>
        </div>
      </form>
    </div>
    <div class="footer__bottom">
      <div class="footer__links">
        <ul class="footer__list footer__list--nav">
          <li class="footer__item">
            <a class="footer__link" href="#">Проекты</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">О&nbsp;компании</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Услуги</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Блог</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контакты</a>
          </li>
        </ul>
        <ul class="footer__list footer__list--services">
          <li class="footer__item">
            <a class="footer__link" href="#">Полное PR&#8288;-&#8288;сопровождение</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">PR на&nbsp;ТВ и радио</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Публикации в&nbsp;СМИ</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Подкасты и коллаборации</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Создание позиционирования (опционально)</a>
          </li>
        </ul>
        <ul class="footer__list footer__list--socials">
          <li class="footer__item">
            <a class="footer__link" href="#" target="_blank" rel="noreferrer noopener">WA</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#" target="_blank" rel="noreferrer noopener">TG</a>
          </li>
        </ul>
      </div>
      <ul class="footer__policy">
        <li class="footer__policy-item">
          <a class="footer__policy-link" href="#">Согласие на&nbsp;обработку <br>персональных данных</a>
        </li>
        <li class="footer__policy-item">
          <a class="footer__policy-link" href="#">Политика обработки <br>файлов куки</a>
        </li>
        <li class="footer__policy-item">
          <a class="footer__policy-link" href="#">Политика <br>конфиденциальности</a>
        </li>
      </ul>
      <a class="footer__logo" href="#">
        <img src="img/logo.svg" alt="Логотип pr-агентства Хорошее начало.">
      </a>
    </div>
  </div>
</footer>
@include('modal-questions.html')
@include('modal-service.html')
@include('modal-price.html')
@include('modal-full-img.html')
