<section class="grid" data-align="grid">
  <div class="container">
    <div class="grid__wrapper">
      <h2 class="grid__title title title--light">Пиар работает для всех по-разному: эксперту даёт статус, бренду&nbsp;&mdash; охват, компании&nbsp;&mdash; доверие, блогеру&nbsp;&mdash; легитимность вне соцсетей</h2>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Эксперты</h3>
        <p class="grid__text" data-align="text">Люди, которые делятся знаниями и&nbsp;мнениями в&nbsp;своей сфере. Им&nbsp;важно формировать образ лидера мнений, подтверждать экспертность публикациями, интервью и&nbsp;выступлениями.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Бренды</h3>
        <p class="grid__text" data-align="text">Компании, которые развивают продукты или услуги на&nbsp;рынке и&nbsp;хотят укрепить имидж, увеличить узнаваемость, появляться в&nbsp;подборках и&nbsp;обзорах в&nbsp;СМИ, работать через коллаборации.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Блогеры</h3>
        <p class="grid__text" data-align="text">Авторы с&nbsp;собственной аудиторией в&nbsp;соцсетях, которым важно выходить за&nbsp;пределы digital-площадок, закрепляться в&nbsp;классических медиа и&nbsp;усиливать доверие к&nbsp;своему имени.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Компании</h3>
        <p class="grid__text" data-align="text">Бизнесы разных масштабов&nbsp;&mdash; от&nbsp;малого до&nbsp;крупного. Их&nbsp;цель&nbsp;&mdash; репутация и&nbsp;доверие в&nbsp;глазах клиентов и&nbsp;партнёров, формирование имиджа стабильности и&nbsp;значимости через публикации и&nbsp;упоминания в&nbsp;медиа.</p>
      </div>
      <div class="grid__card" data-animation>
        <h3 class="grid__subtitle" data-align="title">Предприниматели</h3>
        <p class="grid__text" data-align="text">Основатели и&nbsp;владельцы бизнеса, которые запускают новые проекты или развивают действующие. Для них важен быстрый старт в&nbsp;медиа, упоминания при выходе на&nbsp;рынок или привлечение внимания инвесторов.</p>
      </div>
      <form class="grid__form" action="form.php" method="post">
        <fieldset class="grid__form-group">
          <legend class="grid__form-title">Не&nbsp;нашли подходящий вариант? Заполните форму чтобы получить индивидуальное предложение.</legend>
          <ul class="grid__form-list">
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваше имя</span>
                <input class="grid__input" type="text" name="name" placeholder="имя">
              </label>
            </li>
            <li class="grid__form-item">
              <label class="grid__field">
                <span class="grid__label">Ваш телефон</span>
                <input class="grid__input" type="tel" name="phone" placeholder="телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <label class="grid__accept">
          <span class="grid__label">Я даю согласие на обработку персональных данных в&nbsp;соответствии с&nbsp;Политикой конфиденциальности.</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <div class="grid__form-button-container">
          <div class="grid__form-error-wrapper form-error-message">
            <p class="grid__form-error hidden">Обязательные поля не заполнены</p>
          </div>
          <button class="grid__form-button button button--light-to-accent" type="submit">Отправить заявку +</button>
        </div>
      </form>
    </div>
  </div>
</section>