<div class="hero">
  <div class="hero__img">
    <img src="img/test.jpg">
  </div>
  <div class="hero__wrapper">
    <div class="hero__content">
      <p class="hero__slogan">Создаем ваше лучшее <br>будущее вместе</p>
      <p class="hero__text">Выстраиваем системное присутствие бренда в&nbsp;медиа, превращая упоминания в&nbsp;доверие со&nbsp;стороны клиентов и&nbsp;партнёров.</p>
    </div>
    <button class="hero__button button button--light" type="button">Заполнить бриф +</button>
    <h1 class="hero__title">PR&nbsp;АГЕНТСТВО, Г.&nbsp;МОСКВА</h1>
  </div>
</div>