<div class="modal modal-standard" data-modal="service">
  <div class="modal__container modal-standard__container">
    <button class="modal__close-button modal-close">
      <span class="visually-hidden">Закрыть.</span>
    </button>
    <div class="modal-standard__wrapper">
      <p class="modal-standard__title title" data-modal-title>Ответьте на&nbsp;вопросы</p>
      <form class="modal-standard__form" action="form.php" method="post">
        <label class="modal-standard__field">
          <span class="visually-hidden">Имя</span>
          <input class="modal-standard__input" type="text" name="name" placeholder="Имя*">
        </label>
        <label class="modal-standard__field">
          <span class="visually-hidden">Почта</span>
          <input class="modal-standard__input" type="mail" name="mail" placeholder="Почта*">
        </label>
        <label class="modal-standard__field">
          <span class="visually-hidden">Телефон</span>
          <input class="modal-standard__input" type="tel" name="phone" placeholder="Телефон*">
        </label>
        <div class="modal-standard__form-bottom">
          <label class="modal-standard__accept">
            <span class="modal-standard__label">Я&nbsp;даю согласие на&nbsp;обработку персональных данных в соответствии с&nbsp;Политикой конфиденциальности.</span>
            <input class="visually-hidden" type="checkbox" name="accept">
          </label>
          <div class="modal-standard__form-button-container">
            <div class="modal-standard__form-error-wrapper form-error-message">
              <p class="modal-standard__form-error hidden">Обязательные поля не заполнены</p>
            </div>
            <button class="modal-standard__form-button button button--dark" type="submit">Отправить +</button>
          </div>
        </div>
      </form>
      <div class="modal-standard__contacts">
        <div class="modal-standard__contacts-top">
          <div class="modal-standard__contacts-group">
            <p class="modal-standard__contacts-name">Почта</p>
            <a class="modal-standard__contacts-link" href="mailto:kristina@rodnova.com">kristina@rodnova.com</a>
          </div>
          <div class="modal-standard__contacts-group">
            <p class="modal-standard__contacts-name">Телефон</p>
            <a class="modal-standard__contacts-link" href="tel:+79035145040">+7&nbsp;903&nbsp;514&nbsp;50&nbsp;40</a>
          </div>
          <div class="modal-standard__contacts-group">
            <ul class="modal-standard__socials">
              <li class="modal-standard__social-item">
                <a class="modal-standard__social-link modal-standard__social-link--max" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Max</span>
                </a>
              </li>
              <li class="modal-standard__social-item">
                <a class="modal-standard__social-link modal-standard__social-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Telegram</span>
                </a>
              </li>
              <li class="modal-standard__social-item">
                <a class="modal-standard__social-link modal-standard__social-link--wa" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Whatsapp</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-standard__contacts-bottom">
          <p class="modal-standard__contacts-text">Мы в&nbsp;социальных сетях</p>
          <ul class="modal-standard__socials">
            <li class="modal-standard__social-item">
              <a class="modal-standard__social-link modal-standard__social-link--tg modal-standard__social-link--big" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Telegram</span>
              </a>
            </li>
            <li class="modal-standard__social-item">
              <a class="modal-standard__social-link modal-standard__social-link--youtube modal-standard__social-link--big" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Youtube</span>
              </a>
            </li>
            <li class="modal-standard__social-item">
              <a class="modal-standard__social-link modal-standard__social-link--vk modal-standard__social-link--big" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Vkontakte</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>