<section class="price">
  <div class="container">
    <div class="price__wrapper">
      <h2 class="price__title title title--big">Цены</h2>
      <div class="price__tabs tabs">
        <div class="price__tabs-wrapper">
          <ul class="price__tablinks tabs__tablinks">
            <li class="price__tablinks-item">
              <button class="price__tablink tabs__tablink tabs__tablink--active button button--tab" data-tab="web" type="button">Статья в&nbsp;онлайн издании</button>
            </li>
            <li class="price__tablinks-item">
              <button class="price__tablink tabs__tablink button button--tab" data-tab="journal" type="button">Статья в&nbsp;журнале</button>
            </li>
          </ul>
        </div>
        <div class="price__tabcontents tabs__tabcontents">
          <div class="price__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="web">
            <div class="price__content">
              <div class="price__text">
                <p>Статья в&nbsp;онлайн-издании&nbsp;— это&nbsp;публикация на&nbsp;популярном интернет-портале или в&nbsp;цифровом СМИ, где&nbsp;бренд или эксперт становится частью редакционного материала. Такой формат помогает рассказать историю компании, поделиться экспертным мнением и привлечь внимание аудитории через авторитетную медийную площадку.</p>
              </div>
              <div class="price__img">
                <picture>
                  <source width="691" height="498" type="image/webp" media="(min-width: 768px)" srcset="img/price/1-tablet@1x.webp 1x, img/price/1-tablet@2x.webp 2x">
                  <source width="370" height="265" type="image/webp" srcset="img/price/1-mobile@1x.webp 1x, img/price/1-mobile@2x.webp 2x">
                  <source width="691" height="498" type="image/png" media="(min-width: 768px)" srcset="img/price/1-tablet@1x.png 1x, img/price/1-tablet@2x.png 2x">
                  <img src="img/price/1-mobile@1x.png" srcset="img/price/1-mobile@2x.png 2x" width="370" height="265" alt="Логотип НТВ">
                </picture>
              </div>
              <ul class="price__list">
                <li class="price__item">
                  <p class="price__name">1&nbsp;статья</p>
                  <button class="price__button button button--dark" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;25&nbsp;000&nbsp;₽</button>
                </li>
                <li class="price__item">
                  <p class="price__name">1&nbsp;статья&nbsp;+ видео</p>
                  <button class="price__button button button--dark" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;30&nbsp;000&nbsp;₽</button>
                </li>
                <li class="price__item">
                  <p class="price__name">5&nbsp;съёмок в&nbsp;качестве эксперта</p>
                  <button class="price__button button button--dark" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;225&nbsp;000&nbsp;₽</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="price__tabcontent tabs__tabcontent" data-tab-content="journal">
            <div class="price__content">
              <div class="price__text">
                <p>Статья в&nbsp;онлайн-издании&nbsp;— это&nbsp;публикация на&nbsp;популярном интернет-портале или в&nbsp;цифровом СМИ, где&nbsp;бренд или эксперт становится частью редакционного материала. Такой формат помогает рассказать историю компании, поделиться экспертным мнением и привлечь внимание аудитории через авторитетную медийную площадку.</p>
              </div>
              <div class="price__img">
                <picture>
                  <source width="691" height="498" type="image/webp" media="(min-width: 768px)" srcset="img/price/1-tablet@1x.webp 1x, img/price/1-tablet@2x.webp 2x">
                  <source width="370" height="265" type="image/webp" srcset="img/price/1-mobile@1x.webp 1x, img/price/1-mobile@2x.webp 2x">
                  <source width="691" height="498" type="image/png" media="(min-width: 768px)" srcset="img/price/1-tablet@1x.png 1x, img/price/1-tablet@2x.png 2x">
                  <img src="img/price/1-mobile@1x.png" srcset="img/price/1-mobile@2x.png 2x" width="370" height="265" alt="Логотип НТВ">
                </picture>
              </div>
              <ul class="price__list">
                <li class="price__item">
                  <p class="price__name">1&nbsp;статья</p>
                  <button class="price__button button button--dark" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;25&nbsp;000&nbsp;₽</button>
                </li>
                <li class="price__item">
                  <p class="price__name">1&nbsp;статья&nbsp;+ видео</p>
                  <button class="price__button button button--dark" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;30&nbsp;000&nbsp;₽</button>
                </li>
                <li class="price__item">
                  <p class="price__name">5&nbsp;съёмок в&nbsp;качестве эксперта</p>
                  <button class="price__button button button--dark" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service">Заказать от&nbsp;225&nbsp;000&nbsp;₽</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>