<section class="projects-preview">
  <div class="container">
    <div class="projects-preview__wrapper">
      <div class="projects-preview__header">
        <h2 class="projects-preview__title title">Результаты пиара измеряются доверием и&nbsp;присутствием в&nbsp;медиа, а&nbsp;не&nbsp;быстрыми заявками</h2>
        <a class="projects-preview__link-more button button--accent" href="#">Смотреть все проекты +</a>
      </div>
      <div class="projects-preview__swiper-container">
        <div class="projects-preview__swiper" data-swiper="navigation">
          <ul class="projects-preview__swiper-wrapper">
            <li class="projects-preview__slide">
              <div class="projects-preview__card">
                <div class="projects-preview__img">
                  <picture>
                    <source width="1168" height="620" type="image/webp" media="(min-width: 768px)" srcset="img/projects/1-tablet@1x.webp 1x, img/projects/1-tablet@2x.webp 2x">
                    <source width="369" height="460" type="image/webp" srcset="img/projects/1-mobile@1x.webp 1x, img/projects/1-mobile@2x.webp 2x">
                    <source width="1168" height="620" type="image/jpg" media="(min-width: 768px)" srcset="img/projects/1-tablet@1x.jpg 1x, img/projects/1-tablet@2x.jpg 2x">
                    <img src="img/projects/1-mobile@1x.jpg" srcset="img/projects/1-mobile@2x.jpg 2x" width="369" height="460" alt="Логотип компании">
                  </picture>
                </div>
                <div class="projects-preview__content">
                  <p class="projects-preview__name">Название проекта</p>
                  <dl class="projects-preview__details">
                    <div>
                      <dt>Цель</dt>
                      <dd>Узнаваемость в&nbsp;медиа,&nbsp;выход в СМИ</dd>
                    </div>
                    <div>
                      <dt>Площадки</dt>
                      <dd>Первый канал, ТНТ</dd>
                    </div>
                    <div>
                      <dt>Проект</dt>
                      <dd>Разработана стратегия продвижения</dd>
                    </div>
                  </dl>
                  <div class="projects-preview__text">
                    <p>Бизнесы разных масштабов&nbsp;&mdash; от&nbsp;малого до&nbsp;крупного. Их&nbsp;цель&nbsp;&mdash; репутация и&nbsp;доверие в&nbsp;глазах клиентов и&nbsp;партнёров, формирование имиджа стабильности и&nbsp;значимости через публикации и&nbsp;упоминания в&nbsp;медиа.</p>
                  </div>
                  <a class="projects-preview__link button button--dark" href="#">Подробнее +</a>
                </div>
              </div>
            </li>
            <li class="projects-preview__slide">
              <div class="projects-preview__card">
                <div class="projects-preview__img">
                  <picture>
                    <source width="1168" height="620" type="image/webp" media="(min-width: 768px)" srcset="img/projects/1-tablet@1x.webp 1x, img/projects/1-tablet@2x.webp 2x">
                    <source width="369" height="460" type="image/webp" srcset="img/projects/1-mobile@1x.webp 1x, img/projects/1-mobile@2x.webp 2x">
                    <source width="1168" height="620" type="image/jpg" media="(min-width: 768px)" srcset="img/projects/1-tablet@1x.jpg 1x, img/projects/1-tablet@2x.jpg 2x">
                    <img src="img/projects/1-mobile@1x.jpg" srcset="img/projects/1-mobile@2x.jpg 2x" width="369" height="460" alt="Логотип компании">
                  </picture>
                </div>
                <div class="projects-preview__content">
                  <p class="projects-preview__name">Название проекта</p>
                  <dl class="projects-preview__details">
                    <div>
                      <dt>Цель</dt>
                      <dd>Узнаваемость в&nbsp;медиа,&nbsp;выход в СМИ</dd>
                    </div>
                    <div>
                      <dt>Площадки</dt>
                      <dd>Первый канал, ТНТ</dd>
                    </div>
                    <div>
                      <dt>Проект</dt>
                      <dd>Разработана стратегия продвижения</dd>
                    </div>
                  </dl>
                  <div class="projects-preview__text">
                    <p>Бизнесы разных масштабов&nbsp;&mdash; от&nbsp;малого до&nbsp;крупного. Их&nbsp;цель&nbsp;&mdash; репутация и&nbsp;доверие в&nbsp;глазах клиентов и&nbsp;партнёров, формирование имиджа стабильности и&nbsp;значимости через публикации и&nbsp;упоминания в&nbsp;медиа.</p>
                  </div>
                  <a class="projects-preview__link button button--dark" href="#">Подробнее +</a>
                </div>
              </div>
            </li>
          </ul>
          <div class="projects-preview__swiper-button-container hidden">
            <button class="button-swiper button-swiper--prev" type="button">
              <span class="visually-hidden">Назад.</span>
            </button>
            <button class="button-swiper button-swiper--next" type="button">
              <span class="visually-hidden">Вперёд.</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>