<section class="services-preview">
  <div class="container">
    <div class="services-preview__header">
      <h2 class="services-preview__title title">PR&nbsp;не&nbsp;измеряется количеством заявок. Его ценность в&nbsp;том, <br>что о&nbsp;вас знают, вам доверяют и&nbsp;с&nbsp;вами хотят работать</h2>
      <a class="services-preview__link-more button button--light" href="#">Смотреть все услуги&nbsp;+</a>
    </div>
    <ul class="services-preview__list">
      <li class="services-preview__item" data-animation="decor-line">
        <h3 class="services-preview__subtitle">Публикации в&nbsp;СМИ</h3>
        <div class="services-preview__images">
          <div class="services-preview__img">
            <picture>
              <source width="456" height="424" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/1-tablet@1x.webp 1x, img/services-preview/1-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/1-mobile@1x.webp 1x, img/services-preview/1-mobile@2x.webp 2x">
              <source width="456" height="424" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/1-tablet@1x.jpg 1x, img/services-preview/1-tablet@2x.jpg 2x">
              <img src="img/services-preview/1-mobile@1x.jpg" srcset="img/services-preview/1-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
          <div class="services-preview__img">
            <picture>
              <source width="456" height="314" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/2-tablet@1x.webp 1x, img/services-preview/2-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/2-mobile@1x.webp 1x, img/services-preview/2-mobile@2x.webp 2x">
              <source width="456" height="314" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/2-tablet@1x.jpg 1x, img/services-preview/2-tablet@2x.jpg 2x">
              <img src="img/services-preview/2-mobile@1x.jpg" srcset="img/services-preview/2-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
        </div>
        <p class="services-preview__text">Публикации там, где вас читает ваша аудитория: интервью, колонки, пресс-релизы&nbsp;&mdash; онлайн и&nbsp;печать.</p>
        <p class="services-preview__price">Цена от&nbsp;25&nbsp;000&nbsp;₽</p>
        <a class="services-preview__link button button--dark" href="#">Подробнее&nbsp;+</a>
      </li>
      <li class="services-preview__item" data-animation="decor-line">
        <h3 class="services-preview__subtitle">Полное PR&#8288;-сопровождение</h3>
        <div class="services-preview__images">
          <div class="services-preview__img">
            <picture>
              <source width="456" height="314" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/3-tablet@1x.webp 1x, img/services-preview/3-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/3-mobile@1x.webp 1x, img/services-preview/3-mobile@2x.webp 2x">
              <source width="456" height="314" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/3-tablet@1x.jpg 1x, img/services-preview/3-tablet@2x.jpg 2x">
              <img src="img/services-preview/3-mobile@1x.jpg" srcset="img/services-preview/3-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
          <div class="services-preview__img">
            <picture>
              <source width="456" height="424" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/4-tablet@1x.webp 1x, img/services-preview/4-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/4-mobile@1x.webp 1x, img/services-preview/4-mobile@2x.webp 2x">
              <source width="456" height="424" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/4-tablet@1x.jpg 1x, img/services-preview/4-tablet@2x.jpg 2x">
              <img src="img/services-preview/4-mobile@1x.jpg" srcset="img/services-preview/4-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
        </div>
        <p class="services-preview__text">Выведем бренд в&nbsp;топ&#8288;-СМИ, ТВ, радио и&nbsp;подкасты. Полный аутсорсинг коммуникаций под ключ.</p>
        <p class="services-preview__price">Цена от&nbsp;160&nbsp;000&nbsp;₽ в&nbsp;месяц</p>
        <a class="services-preview__link button button--dark" href="#">Подробнее&nbsp;+</a>
      </li>
      <li class="services-preview__item" data-animation="decor-line">
        <h3 class="services-preview__subtitle">ТВ и радио</h3>
        <div class="services-preview__images">
          <div class="services-preview__img">
            <picture>
              <source width="456" height="424" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/5-tablet@1x.webp 1x, img/services-preview/5-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/5-mobile@1x.webp 1x, img/services-preview/5-mobile@2x.webp 2x">
              <source width="456" height="424" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/5-tablet@1x.jpg 1x, img/services-preview/5-tablet@2x.jpg 2x">
              <img src="img/services-preview/5-mobile@1x.jpg" srcset="img/services-preview/5-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
          <div class="services-preview__img">
            <picture>
              <source width="456" height="314" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/6-tablet@1x.webp 1x, img/services-preview/6-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/6-mobile@1x.webp 1x, img/services-preview/6-mobile@2x.webp 2x">
              <source width="456" height="314" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/6-tablet@1x.jpg 1x, img/services-preview/6-tablet@2x.jpg 2x">
              <img src="img/services-preview/6-mobile@1x.jpg" srcset="img/services-preview/6-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
        </div>
        <p class="services-preview__text">Организуем ваше участие в&nbsp;ТВ&#8288;-эфирах: подготовим, выведем и&nbsp;упакуем результат.</p>
        <p class="services-preview__price">Цена от&nbsp;50&nbsp;000&nbsp;₽ в&nbsp;месяц</p>
        <a class="services-preview__link button button--dark" href="#">Подробнее&nbsp;+</a>
      </li>
      <li class="services-preview__item" data-animation="decor-line">
        <h3 class="services-preview__subtitle">Коллаборации и партнёрства</h3>
        <div class="services-preview__images">
          <div class="services-preview__img">
            <picture>
              <source width="456" height="314" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/7-tablet@1x.webp 1x, img/services-preview/7-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/7-mobile@1x.webp 1x, img/services-preview/7-mobile@2x.webp 2x">
              <source width="456" height="314" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/7-tablet@1x.jpg 1x, img/services-preview/7-tablet@2x.jpg 2x">
              <img src="img/services-preview/7-mobile@1x.jpg" srcset="img/services-preview/7-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
          <div class="services-preview__img">
            <picture>
              <source width="456" height="424" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/8-tablet@1x.webp 1x, img/services-preview/8-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/8-mobile@1x.webp 1x, img/services-preview/8-mobile@2x.webp 2x">
              <source width="456" height="424" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/8-tablet@1x.jpg 1x, img/services-preview/8-tablet@2x.jpg 2x">
              <img src="img/services-preview/8-mobile@1x.jpg" srcset="img/services-preview/8-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
        </div>
        <p class="services-preview__text">Совместные проекты с&nbsp;брендами, лидерами мнений и&nbsp;площадками позволяют расширить охват и&nbsp;найти новые точки контакта с&nbsp;аудиторией. Мы&nbsp;предлагаем форматы, которые органично вписываются в&nbsp;вашу стратегию.</p>
        <p class="services-preview__price">Цена от&nbsp;180&nbsp;000&nbsp;₽</p>
        <a class="services-preview__link button button--dark" href="#">Подробнее&nbsp;+</a>
      </li>
      <li class="services-preview__item" data-animation="decor-line">
        <h3 class="services-preview__subtitle">Создание позиционирования (опционально)</h3>
        <div class="services-preview__images">
          <div class="services-preview__img">
            <picture>
              <source width="456" height="424" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/9-tablet@1x.webp 1x, img/services-preview/9-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/9-mobile@1x.webp 1x, img/services-preview/9-mobile@2x.webp 2x">
              <source width="456" height="424" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/9-tablet@1x.jpg 1x, img/services-preview/9-tablet@2x.jpg 2x">
              <img src="img/services-preview/9-mobile@1x.jpg" srcset="img/services-preview/9-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
          <div class="services-preview__img">
            <picture>
              <source width="456" height="314" type="image/webp" media="(min-width: 768px)" srcset="img/services-preview/10-tablet@1x.webp 1x, img/services-preview/10-tablet@2x.webp 2x">
              <source width="362" height="314" type="image/webp" srcset="img/services-preview/10-mobile@1x.webp 1x, img/services-preview/10-mobile@2x.webp 2x">
              <source width="456" height="314" type="image/jpg" media="(min-width: 768px)" srcset="img/services-preview/10-tablet@1x.jpg 1x, img/services-preview/10-tablet@2x.jpg 2x">
              <img src="img/services-preview/10-mobile@1x.jpg" srcset="img/services-preview/10-mobile@2x.jpg 2x" width="362" height="314" alt="Логотип РБК">
            </picture>
          </div>
        </div>
        <p class="services-preview__text">Для тех, кто только выходит в&nbsp;медиаполе, мы&nbsp;помогаем сформировать ключевые месседжи и&nbsp;определить стратегическое позиционирование. Эта работа может выполняться отдельно или в&nbsp;рамках полного PR&#8288;-сопровождения.</p>
        <p class="services-preview__price">Цена от&nbsp;100&nbsp;000&nbsp;₽</p>
        <a class="services-preview__link button button--dark" href="#">Подробнее&nbsp;+</a>
      </li>
    </ul>
  </div>
</section>