<section class="stages">
  <div class="container">
    <div class="stages__header" data-animation="decor-line">
      <h2 class="stages__title title title--light">От&nbsp;истории бренда до&nbsp;публикаций в&nbsp;медиа&nbsp;&mdash; пиар, <br>выстроенный по&nbsp;понятным и&nbsp;рабочим этапам.</h2>
    </div>
    <div class="stages__swiper-container">
      <div class="stages__swiper" data-swiper="navigation">
        <ul class="stages__swiper-wrapper">
          <li class="stages__slide">
            <div class="stages__card">
              <p class="stages__number">Этап&nbsp;1</p>
              <p class="stages__subtitle">Первичное знакомство и запрос КП</p>
              <p class="stages__text">Клиент получает общее коммерческое предложение, где отражены базовые пакеты и&nbsp;услуги. Это позволяет понять ценовой уровень и&nbsp;формат работы.</p>
            </div>
          </li>
          <li class="stages__slide">
            <div class="stages__card">
              <p class="stages__number">Этап&nbsp;2</p>
              <p class="stages__subtitle">Обсуждение целей и задач</p>
              <p class="stages__text">На&nbsp;основе обсуждения формируем персонализированное коммерческое предложение с&nbsp;учётом задач клиента: список форматов, медиаплан, количество активностей и&nbsp;стоимость.</p>
            </div>
          </li>
          <li class="stages__slide">
            <div class="stages__card">
              <p class="stages__number">Этап&nbsp;3</p>
              <p class="stages__subtitle">Первичное знакомство и запрос КП</p>
              <p class="stages__text">Клиент получает общее коммерческое предложение, где отражены базовые пакеты и&nbsp;услуги. Это позволяет понять ценовой уровень и&nbsp;формат работы.</p>
            </div>
          </li>
        </ul>
        <div class="stages__swiper-button-container hidden">
          <button class="button-swiper button-swiper--light button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--light button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
      <a class="stages__link button button--light" href="#">Получить план и медиалист&nbsp;+</a>
    </div>
  </div>
</section>