<section class="thanks" data-align="grid">
  <div class="container">
    <h2 class="thanks__title title">Благодарности, которые подтверждают качество нашей PR-работы</h2>
    <div class="thanks__swiper-container">
      <div class="thanks__swiper" data-swiper="navigation">
        <ul class="thanks__swiper-wrapper">
          <li class="thanks__slide">
            <div class="thanks__card">
              <p class="thanks__name" data-align="title">ООО&nbsp;“Вместе ПРО”</p>
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <picture>
                  <source width="369" height="492" type="image/webp" srcset="img/thanks/vmeste@1x.webp 1x, img/thanks/vmeste@2x.webp 2x">
                  <img src="img/thanks/vmeste@1x.jpg" srcset="img/thanks/vmeste@2x.jpg 2x" width="369" height="492" alt="Перголы для защиты автомобилей">
                </picture>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="914" height="1280" type="image/webp" srcset="img/thanks/vmeste-full@1x.webp 1x, img/thanks/vmeste-full@2x.webp 2x">
                  <img src="img/thanks/vmeste-full@1x.jpg" srcset="img/thanks/vmeste-full@2x.jpg 2x" width="914" height="1280" alt="Перголы для защиты автомобилей">
                </picture>
              </div>
            </div>
          </li>
          <li class="thanks__slide">
            <div class="thanks__card">
              <p class="thanks__name" data-align="title">Бренд Roz&nbsp;Mary</p>
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <picture>
                  <source width="369" height="492" type="image/webp" srcset="img/thanks/rozmary@1x.webp 1x, img/thanks/rozmary@2x.webp 2x">
                  <img src="img/thanks/rozmary@1x.jpg" srcset="img/thanks/rozmary@2x.jpg 2x" width="369" height="492" alt="Перголы для защиты автомобилей">
                </picture>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="914" height="1280" type="image/webp" srcset="img/thanks/rozmary-full@1x.webp 1x, img/thanks/rozmary-full@2x.webp 2x">
                  <img src="img/thanks/rozmary-full@1x.jpg" srcset="img/thanks/rozmary-full@2x.jpg 2x" width="914" height="1280" alt="Перголы для защиты автомобилей">
                </picture>
              </div>
            </div>
          </li>
          <li class="thanks__slide">
            <div class="thanks__card">
              <p class="thanks__name" data-align="title">ООО&nbsp;“Академия успешного бизнеса”</p>
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <picture>
                  <source width="369" height="492" type="image/webp" srcset="img/thanks/business@1x.webp 1x, img/thanks/business@2x.webp 2x">
                  <img src="img/thanks/business@1x.jpg" srcset="img/thanks/business@2x.jpg 2x" width="369" height="492" alt="Перголы для защиты автомобилей">
                </picture>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="914" height="1280" type="image/webp" srcset="img/thanks/business-full@1x.webp 1x, img/thanks/business-full@2x.webp 2x">
                  <img src="img/thanks/business-full@1x.jpg" srcset="img/thanks/business-full@2x.jpg 2x" width="914" height="1280" alt="Перголы для защиты автомобилей">
                </picture>
              </div>
            </div>
          </li>
          <li class="thanks__slide">
            <div class="thanks__card">
              <p class="thanks__name" data-align="title">Бренд Roz&nbsp;Mary</p>
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <picture>
                  <source width="369" height="492" type="image/webp" srcset="img/thanks/rozmary@1x.webp 1x, img/thanks/rozmary@2x.webp 2x">
                  <img src="img/thanks/rozmary@1x.jpg" srcset="img/thanks/rozmary@2x.jpg 2x" width="369" height="492" alt="Перголы для защиты автомобилей">
                </picture>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="914" height="1280" type="image/webp" srcset="img/thanks/rozmary-full@1x.webp 1x, img/thanks/rozmary-full@2x.webp 2x">
                  <img src="img/thanks/rozmary-full@1x.jpg" srcset="img/thanks/rozmary-full@2x.jpg 2x" width="914" height="1280" alt="Перголы для защиты автомобилей">
                </picture>
              </div>
            </div>
          </li>
          <li class="thanks__slide">
            <div class="thanks__card">
              <p class="thanks__name" data-align="title">ООО&nbsp;“Академия успешного бизнеса”</p>
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <picture>
                  <source width="369" height="492" type="image/webp" srcset="img/thanks/business@1x.webp 1x, img/thanks/business@2x.webp 2x">
                  <img src="img/thanks/business@1x.jpg" srcset="img/thanks/business@2x.jpg 2x" width="369" height="492" alt="Перголы для защиты автомобилей">
                </picture>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="914" height="1280" type="image/webp" srcset="img/thanks/business-full@1x.webp 1x, img/thanks/business-full@2x.webp 2x">
                  <img src="img/thanks/business-full@1x.jpg" srcset="img/thanks/business-full@2x.jpg 2x" width="914" height="1280" alt="Перголы для защиты автомобилей">
                </picture>
              </div>
            </div>
          </li>
        </ul>
        <div class="thanks__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>