<section class="video-main">
  <div class="container">
    <div class="video-main__header">
      <h2 class="video-main__title title title--light">Мы делаем пиар, который звучит честно <br>и работает на репутацию</h2>
      <p class="video-main__text">Good&nbsp;Start PR&nbsp;— агентство, где&nbsp;каждое упоминание в&nbsp;медиа имеет смысл.</p>
    </div>
    <div class="video-main__wrapper video video--controls">
      <div class="video__img">
        <picture>
          <img src="img/test.jpg" width="368" height="431" alt="О PR-агентстве Хорошее начало">
        </picture>
      </div>
      <div class="video__player">
        <video src="img/video/our-production.mp4" loop></video>
      </div>
      <button class="video__button-play" type="button">
        <span class="visually-hidden">Начать воспроизведение видео.</span>
      </button>
    </div>
  </div>
</section>