<section class="video-main">
  <div class="container">
    <div class="video-main__header">
      <h2 class="video-main__title title title--light">Мы делаем пиар, который звучит честно <br>и работает на репутацию</h2>
      <p class="video-main__text">Good&nbsp;Start PR&nbsp;— агентство, где&nbsp;каждое упоминание в&nbsp;медиа имеет смысл.</p>
    </div>
    <div class="video-main__wrapper video video--controls">
      <div class="video__img">
        <picture>
          <picture>
            <source width="1881" height="780" type="image/webp" media="(min-width: 768px)" srcset="img/video/1-tablet@1x.webp 1x, img/video/1-tablet@2x.webp 2x">
            <source width="369" height="432" type="image/webp" srcset="img/video/2-mobile@1x.webp 1x, img/video/2-mobile@2x.webp 2x">
            <source width="1881" height="780" type="image/jpg" media="(min-width: 768px)" srcset="img/video/1-tablet@1x.jpg 1x, img/video/1-tablet@2x.jpg 2x">
            <img src="img/video/2-mobile@1x.jpg" srcset="img/video/2-mobile@2x.jpg 2x" width="369" height="432" alt="О PR-агентстве Хорошее начало">
          </picture>
        </picture>
      </div>
      <div class="video__player">
        <!-- <video src="img/video/our-production.mp4" loop></video> -->
      </div>
      <button class="video__button-play" type="button">
        <span class="visually-hidden">Начать воспроизведение видео.</span>
      </button>
    </div>
  </div>
</section>